@import "../../Settings/variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?8w9mtg');
  src:  url('#{$icomoon-font-path}/icomoon.eot?8w9mtg#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icomoon.ttf?8w9mtg') format('truetype'),
  url('#{$icomoon-font-path}/icomoon.woff?8w9mtg') format('woff'),
  url('#{$icomoon-font-path}/icomoon.svg?8w9mtg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2x{
  font-size: 2em;
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-chevron-circle-up {
  &:before {
    content: $icon-chevron-circle-up;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

