$link-col : #169dcb;
$link-col-light : #00befe;

$colour-map: (
        black: (
                colour: #000,
                alt: #dde1e2
        ),
        white: (
                colour: #FFF,
                alt: #000
        ),
        silver: (
                colour: #bdc3c7,
                alt: #000
        ),
        grey: (
                colour: #f4f4f4,
                alt: #000
        ),
        blue: (
                colour: #00befe,
                alt: #222,
                light: #3498db,
                dark: #2c3e50
        ),
        green: (
                colour: #2cc36b,
                alt: #000,
                light: #2ecc71
        ),

        yellow: (
                colour: #f1c40f,
                alt: #000
        ),
        red: (
                colour: #e30613,
                alt: #FFF,
                light: #e74c3c
        ),
        orange: (
                colour: #fc6b18,
                alt: #ecf0f1,
                light: #e67e22
        ),
);
