@import "../../Settings/variables";
@import "../../Mixins/colours";
@import "../../Settings/colours";

.blackbg,.black-bg{

  p{
    color: #ccc;
  }
}

.silver-fade-bg{
  background: linear-gradient(30deg, #f4f4f4, #bdc3c7);
}

.fade-bg{
  position: relative;
  overflow: hidden;
  background: transparent;

  &::before{
    content: "";
    background: url("#{$assets}/img/template/fade.jpg");
    background-size: cover;
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top:-10px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}


@include generateColourClass($colour-map);