#notification{
  position: fixed;
  left: 0;
  right: 0;
  background: #000;
  z-index: 9990;
  bottom: 0;
  color: #ccc;
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  display: none;
  &.show{
    display: block;
  }
}


#notification #notification-close{
  position: absolute;
  right: 30px;
  text-align: center;
  height: 30px;
  border: 1px solid #444;
  line-height: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
  background: #2cc36b;
  color: #ccc;
  text-transform: uppercase;
}

#notification a{
  color: #00befe;
}

#notification #notification-close:hover{
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

#notification p{
  margin-right: 30px;
  font-size: 0.8em;
  margin-bottom: 0;
}