/*
SASS/Framework/Forms.Scss
Dan Smith. 2015
*/
input[type="checkbox"] {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
}
input[type="checkbox"] + label {

  font-size:16px;
  line-height: 32px;
  margin: 0;

  &::after{
    content:"";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
  }

}

input[type="checkbox"]:focus + label {
  color: #00befe !important;
}

input[type="checkbox"]:hover + label span{
  border: 3px solid #00befe;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: black;
  cursor: pointer;
  border: 2px solid #FFF;
  margin: 2px 8px 4px 0;
  float: left;
  border-radius: 3px;
}

.light{
  input[type="checkbox"] + label span {
    background: #fff;
    border-color: #ccc;
  }
}


input[type="checkbox"] + label span + div{

  line-height: 1;
  font-size: 0.9;

  &.single-line{
    padding-top: 10px;
  }
  &.multi-line{
    padding-top: 3px;
  }
}



input[type="checkbox"]:focus + label span{
  border: 3px solid #00befe;
}

input[type="checkbox"]:checked + label span {
  background:#00befe;
  border: 3px solid #00befe;
}

input[type="checkbox"]:checked + label span::after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  position: absolute;
  font-size: 21px;
  padding: 2px;
}


input[type="checkbox"]:checked + label span::after {
  opacity: 1;
}
input[type="checkbox"] + label span::after {
  content: "\F00C";
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  position: absolute;
  font-size: 21px;
  padding: 2px;
  opacity: 0;
}