/*
SASS/Framework/Forms.Scss
Dan Smith. 2015
*/
label{
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-top: 20px;
  text-align: left !important;
  line-height: 1.4;
}

label > input,label > textarea,label > div{
  margin-top:10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea{

  font-weight: 300;
  text-indent: 10px;
  padding-right:10px;
  font-size: 0.7em;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);

  -webkit-transition: all 180ms linear;
  -moz-transition: all 180ms linear;
  -ms-transition: all 180ms linear;
  -o-transition: all 180ms linear;
  transition: all 180ms linear;
}

textarea{
  display: block;
  width: 100%;
  position: relative;
  border: 2px solid transparent;
  background-color: transparent;
  min-height: 150px;
  padding:10px;
  text-indent: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus{
  outline: 0;
  color: #000;
  opacity: 1;
  font-size: 0.8em;
  -webkit-box-shadow: 0 0 44px -12px rgba(0,0,0,1);
  box-shadow: 0 0 44px -12px rgba(0,0,0,1);

  //transform: scale(1.05) translateX(1%);
}


input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="tel"]:active,
input[type="date"]:active,
textarea:active{
  border-color: #ccc;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"]{
  display: block;
  position: relative;
  border: 2px solid transparent;
  height: 55px;
  width: 100%;
  background-color: transparent;



}


label.switch:after{
  display: none;
}


/**
Hacks for inline tel
 */
.col-2.tel-code{
  width: 20%; float: left !important;
}
.col-4.tel-num{
  max-width: 80%; float: left !important;
}







.selectwrap{
  position: relative;
  height: 55px;
  width: 100%;
  overflow: hidden;
  margin-right: -50px;

  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;


  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);

  -webkit-transition: all 180ms linear;
  -moz-transition: all 180ms linear;
  -ms-transition: all 180ms linear;
  -o-transition: all 180ms linear;
  transition: all 180ms linear;




  &:focus{
    outline: 0;
    color: #000;
    opacity: 1;
    font-size: 0.8em;
    -webkit-box-shadow: 0 0 44px -12px rgba(0,0,0,1);
    box-shadow: 0 0 44px -12px rgba(0,0,0,1);
  }

  .select-arrrow{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 20px;
    text-align: left;
    &::after{
      position: absolute;
      content: "\f0dc";
      font-family: FontAwesome;
      line-height: 50px;
      font-size: 0.8em;
      color: #666;
    }
  }

  select{
    border: 0;
    border-radius: 0 !important;
    outline: 0;
    display: block;
    width: 106%;
    height:100%;
    background: transparent;
    text-indent: 10px;
    padding-right: 10px;
    font-size: .7em;

    border-left: 2px solid #ccc;
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
    line-height: 1em;



  }

}

.selectwrap{
  display: block;
  margin-top: 10px;
}
select, .selectwrap{
  -webkit-transition: all 180ms linear;
  -moz-transition: all 180ms linear;
  -ms-transition: all 180ms linear;
  -o-transition: all 180ms linear;
  transition: all 180ms linear;
}
.selectwrap.active{
  -webkit-box-shadow: 0 0 44px -12px #000;
  box-shadow: 0 0 44px -12px #000;
}

.selectwrap:hover .select-arrrow{
  z-index: -1;
  opacity: 0;
  text-indent: 20px;
}

.selectwrap select{
  cursor: pointer;
}

.selectwrap:hover{
  -webkit-box-shadow: 0 0 33px 1px #949494;
  box-shadow: 0 0 33px 1px #949494;
  cursor: pointer;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -150px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}