/*
SASS/Framework/Forms.Scss
Dan Smith. 2015
*/


.col-6{
  .switch{
    @include respond(full){
      float:none !important;
    }
    @include respond(desktop){
      float:none !important;
    }
  }
  .switch-label{
    @include respond(full){
      padding-left: 0 !important;
    }
    @include respond(desktop){
      padding-left: 0 !important;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
  @include respond(full){
    margin-right:30px;
  }
  @include respond(desktop){
    margin-right:30px;
  }
}

/* Don't hide (tab) but don't show default HTML checkbox */
.switch input {
  display: block;
  opacity: 0 !important;
  z-index: -1
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #222;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #222;
}



input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider{
  margin-top: 0 !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label{

  font-size: 1em;
  font-weight: 300;
  padding-left: 10px;
  letter-spacing: 0.01em;
  line-height: 1em;
  vertical-align: super;
  margin-right: 20px;
  text-align: left;
  float: left;
  clear: right;
  margin-top: 20px;
  min-width: 50%;
}

.switch{
  margin-top: 10px;
}

.switch input:active{
  outline: 0;
}
.switch input:focus + div{
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 44px 3px rgba(0,0,0,1);
  box-shadow: 0 0 44px 3px rgba(0,0,0,1);
  outline: 0;
  background: #d8d8d8;
}