#breadcrum{
  color: #e8e8e8;
  margin-bottom: 0;
  padding: 10px 20px;

  ul{
    li{
      display: inline-block;
      text-shadow: 2px 2px 3px #333;
    }
  }

  a::after{
    content: ">";
    display: inline-block;
    margin-left: 5px;
    color: #e8e8e8;
    font-size: 88.6%;
    vertical-align: top;
    margin-right: 3px;
  }
}