/*
SASS/Framework/Tables.Scss
Dan Smith. 2015
*/

img{
  max-width: 100%;
}

figure{
  img{
    display: block;
  }

  figcaption{
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #666;
    line-height: 1;
  }
  &:after{
    content: "";
    display: block; clear: both
  }
}

// lazyload image fade effect.
.fadeIn{
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  &.lazyloaded{
    opacity: 1;
  }
}
