@import "../../Mixins/respond";



.article{
  blockquote{
    position: relative;

    &.inline-quote{


      //full width
      @include breakpoint(retina) {
        margin-right: 40px;
        margin-bottom: 20px;
        width: 60%;
        float: left;
      }

      //desktop
      @include breakpoint(desktop) {
        margin-right: 40px;
        margin-bottom: 20px;
        width: 60%;
        float: left;
      }

      padding: 2em;
      background: #fff;
      margin-bottom: 20px;
      width: 100%;

      span{
        font-family: sans-serif;
        font-family: Trade Gothic LT W01 Bold No-_2;
        text-transform: uppercase;
        font-size: 1.5em;
        line-height: 1.3;
        &::before{
          display: inline;
          font-family: FontAwesome;
          font-size: 1.5em;
          content: '\f10d';
          padding-right: 10px;
          line-height: 0.5;
        }
      }
      footer{
        font-family: sans-serif;
        font-family: Trade Gothic LT W01 Roman;
        margin-top: 10px;
        font-size: 21px;
      }
    }
  }
}




.news-side{
  ul.feat {
    padding-left: 10px;
    margin-bottom: 20px;
    li {
      list-style: decimal!important;
      margin-left: 10px;
      color: #00befe;
      border-top: 3px solid #e8e8e8;
    }
  }
  div {
    padding-top: 10px;
    h6 {
      text-transform: uppercase;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 6px;
      padding-left: 5px;
      margin-bottom: 0;
      a{
        color: #000;
      }
    }
    p {
      color: #444;
      font-weight: 500;
      padding-top: 3px;
      padding-bottom: 3px;
      margin: 0;
      padding-left: 5px;
    }
  }
}



.news-side-button {
  margin-bottom: 5px;
  p {
    opacity: 0;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 5px;
  }
  &:hover {
    cursor: pointer;
    color: #000!important;
    p {
      opacity: 1;
    }
  }
}

.article-slider{
  img{
    max-height: 550px;
    margin: 0 auto;
    display:block;
  }
  div {
    background: #f2f2f2;
    min-height: 400px;
    &:before {
      position: absolute;
      content: "loading...";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      padding-top: 170px;
    }
  }
  .slick-prev{
    left: 20px !important;
  }
  .slick-next{
    right: 20px !important;
  }
}