@import "../../Mixins/respond";
@import "../../Settings/all";


#search-area{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;

  .search-box{


  }
  .search-submit{


    input{

      margin-right: -1px;
    }
  }
}

//News List.
#article-heading{
  font-weight: 700 !important; font-size: 4em; line-height: 1; padding-top: 0px; padding-bottom: 20px;

}

#search-results-list{
  h2{
    margin-bottom: 10px;
  }
  h3{
    margin-bottom: 10px;
    color: #000;
  }
  h4{
    span{
      color: #666;
    }
  }
  .date{
    display: none;
  }
}








.press-item{

  @include breakpoint(default){
    background: #fff;
  }
  @include breakpoint(mobile){
    background: #FFF;
  }


  .thumbContainer:hover + .contentContainer .module a h3{
    color: #00befe !important;
  }
  .thumbContainer{

    @include breakpoint(retina) {
      width: 50%;
      max-width: 380px;
      margin-bottom: 20px;
      float: left;
      border:0;
    }

    @include breakpoint(desktop) {
      width: 50%;
      margin-bottom: 20px;
      float: left;
      border:0;
    }

    @include breakpoint(tablets) {
      width: 50%;
      margin-bottom: 20px;
      float: left;
      border:0;
    }


    width: 100%;
    float: none;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

    .img-container{
      min-height: 100px;
      overflow: hidden;

      @include breakpoint(retina){
        border: 5px solid #fff;
        background: #000;
        -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 12px 0 rgba(0,0,0,.3);
      }
      @include breakpoint(desktop){
        border: 5px solid #fff;
        background: #000;
        -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 12px 0 rgba(0,0,0,.3);
      }

      img{
        display: block;
        width: auto;
        margin: 0 auto;
        padding: 0;
        border: 0;
      }
    }

  }
  .contentContainer{

    @include breakpoint(retina) {
      float: left;
      width: 50%;
      padding: 0 0 0 20px;
    }
    @include breakpoint(desktop) {
      float: left;
      width: 50%;
      padding: 0 0 0 20px;
    }
    @include breakpoint(tablets) {
      float: left;
      width: 50%;
      padding: 0 0 0 20px;
    }

    float: none;
    width: 100%;
    padding: 20px;

    .module{
      padding-top:0;
    }
  }
}




#press-release-container{

  //image hover effect.
  .col-4:hover + .col-8 .module a h3{
    color: #00befe !important;
  }

  .row{
    margin-bottom: 40px;
    .module{
      padding-top:0;
      background: transparent !important;
    }
  }
  a h3{
    color: #000;
    margin-bottom: 0 !important;

    &:hover{
      cursor: pointer;
      color: #00befe;
    }
  }
  .date{
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
    margin-top: 10px;
  }
}


/**
 * News Side Content. Featured/Recent News.
 */
.news-side{
  display: block;
  div{
    padding-top: 10px;
    h6{
      text-transform: uppercase;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 6px;
      padding-left: 5px;
      margin-bottom: 0;
      a{
        color: black;
        &:hover{
          cursor: pointer;
          color: #00befe;
        }
      }
    }
    p{
      color: #444;
      font-weight: 500;
      padding-top: 3px;
      padding-bottom: 3px;
      margin: 0;
      padding-left: 5px;
    }
  }
  ul.feat{
    padding-left: 10px;
    margin-bottom: 20px;
    li{
      list-style: decimal !important;
      margin-left: 10px;
      color: #00befe;
      border-top: 3px solid #e8e8e8;
    }
  }
}
.news-side-button{
  margin-bottom: 5px;
  p{
    opacity: 0;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top:5px;
  }
  &:hover{
    cursor: pointer;
    color: black !important;
    p{
      opacity: 1;
    }
  }
}



blockquote{
  &.inline-quote{
    padding:30px;
    min-width: 320px;
    line-height: 1.1em;
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
    p{
      text-decoration: none;
      font-variant: normal;
      text-transform: none;
    }
    span:before {
      content: '\f10d';
      padding-right: 5px;
      font-family: FontAwesome;
      font-size: .6em;
      vertical-align: top;
    }
    span:after {
      content: '\f10e';
      padding-left: 5px;
      font-family: FontAwesome;
      font-size: .6em;
      vertical-align: top;
    }
    footer{
      margin-top: 10px;
      font-size: 0.8em;
      color: rgba(0,0,0,0.6);
      text-align: right;
    }
  }
}




