.masonry { /* Masonry container */

  //Desktop
  @include respond(full) {
    column-count: 2;
    column-gap: 0.5em;
    -moz-column-count: 2;
    -moz-column-gap: $gutter;
    -webkit-column-count: 2;
    -webkit-column-gap: $gutter;
  }

  //Desktop
  @include respond(desktop) {
    column-count: 2;
    column-gap: 0.5em;
    -moz-column-count: 2;
    -moz-column-gap:$gutter;
    -webkit-column-count: 2;
    -webkit-column-gap:$gutter;

  }

  //Tablets
  @include respond(tablets) {
    column-count: 2;
    column-gap: 0.5em;
    -moz-column-count: 2;
    -moz-column-gap: $gutter;
    -webkit-column-count: 2;
    -webkit-column-gap: $gutter;
  }

  column-count: 1;
  column-gap: 0;
  -moz-column-count: 1;
  -moz-column-gap: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 0;


  .item { /* Masonry bricks or child elements */

    display: inline-block;
    margin: 0;
    width: 100%;
  }

}

