.autocomplete-suggestions { border: 1px solid #999; border-top:1px solid #e8e8e8; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #91e3ff; color: black; font-weight: 500; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 8px 2px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }