@import "../../Mixins/respond";
@import "../../Settings/breakpoints";

footer.pagefoot {
  //display hidden footer.
  > *{
    opacity: 1;
  }

  display: block;
  width: 100%;
  padding-top: 60px;
  background: #000 url('#{$assets}/img/2018/site/subtle_carbon.png') repeat !important;

  h4{
    color: #f2f2f2;
    font-size: 150%;
    display: block;
    margin-top:20px;
  }

  p{
    font-size: 12px;
    color: #888;
  }

  ul li a{
    display: block;
    color: #f2f2f2;
    border: 2px solid transparent;
    width: 100%;
    padding: 8px 0;
    font-size: 13px;
    margin-bottom: 4px;
    &:hover{
      cursor: pointer;
      color: white;
    }
  }

  .footer-social{
    a{
      color: white;
      padding-right: 15px;
    }
  }
}