@import "css3";

@mixin colouredButton($class, $colour, $altColour){

  &.#{$class}{

    border-color: $colour;
    color: $colour;
    @include transition("all","180ms","ease-in");
    transition-property: color, background, border;

    &.solid{
      background: $colour;
      color: $altColour;
      &:hover,&.active{
        border-color: $altColour;
        background: $altColour;
        color: $colour;
      }
    }

    &.dark{
      &:hover,&.active{
        border-color: darken( $colour, 20% );
        background: darken( $colour, 20% );
        color: $altColour;
      }
    }

    &.light{
      &:hover,&.active{
        border-color: lighten( $colour, 20% );
        background: lighten( $colour, 20% );
        color: $altColour;
      }
    }

    &:hover,&:active,&:focus,&.active{
      background: $colour;
      color: $altColour;
    }

    &:active{
      border-color: $colour;
    }

    &:focus{
      border-color: $link-col;
    }

  }
}