@import "mapping";

@mixin generateColourClass($colour-map){
  @each $label, $map in $colour-map {

    %col-#{$label}{
      color: map-get($map, colour) !important;
    }

    .col-#{$label}{
      color: map-get($map, colour) !important;
    }


    .light-#{$label}{
      @include hasKeySetValue($map, "light", "color","lighten");
    }

    .dark-#{$label}{
      @include hasKeySetValue($map, "dark", "color","darken");
    }

    %#{$label}-bg{
      @include hasKeySetValue($map, "colour", "background","none");
      @include hasKeySetValue($map, "alt","color","none");
    }

    .#{$label}-bg{
      @include hasKeySetValue($map, "colour", "background","none");
      @include hasKeySetValue($map, "alt","color","none");
    }

    .light-#{$label}-bg{
      @include hasKeySetValue($map, "light", "background","lighten");
    }

    .dark-#{$label}-bg{
      @include hasKeySetValue($map, "dark", "background","darken");
      @include hasKeySetValue($map, "alt","color","comp");
    }
  }
}

@mixin generateColourButtons($colour-map){
    @each $label, $map in $colour-map {

      $class : #{$label};
      $colour :  map-get($map, colour);
      $alt : map-get($map, alt);

      @include colouredButton($class, $colour, $alt);

    }
  }

@mixin generateTextColours($colour-map){
  @each $label, $map in $colour-map {

    $class : #{$label};
    $colour :  map-get($map, colour);
    $alt : map-get($map, alt);

    @include colouredButton($class, $colour, $alt);


  }
}