/*
SASS/Framework/Mixins/grid.Scss
Dan Smith. 2015
*/

@mixin GridLayoutPartials($maxcols, $colgutter, $colSelector:"col-", $pushSelector:"push-"){

  //Create Columns 1-Col Number
  @for $i from 1 through $maxcols {
    %#{$colSelector}#{$i}{

      $currentcol : $i;

      @include respond(full)
      {
        float: left;
        width: percentage( $i/ $maxcols);
      }

      @include respond(desktop)
      {
        float: left;
        width: percentage( $i/ $maxcols);
      }

      @include respond(tablets)
      {
        float: left;
        width: percentage( $i/ $maxcols);
      }

      width:100%;

      &.mob-6{
        @include respond(mobile)
        {
          width: 50% !important;
          float: left;
        }
      }

      &.inset{
        padding: $module-padding;
      }

    }
    %#{$pushSelector}#{$i}{

      @include respond(full)
      {
        margin-left: percentage( $i/ $maxcols);
      }

      @include respond(desktop)
      {
        margin-left: percentage( $i/ $maxcols);
      }

      @include respond(tablets)
      {
        margin-left: percentage( $i/ $maxcols);
      }

      margin-left: 0;
    }
  }

}



@mixin GridLayout($maxcols, $colgutter, $colSelector:".col-", $pushSelector:".push-"){
 @for $i from 1 through $maxcols {

   #{$colSelector}#{$i} {
     float: left;
     width: percentage( $i/ $maxcols);
   }

   #{$pushSelector}#{$i}{
     margin-left: percentage( $i/ $maxcols);
   }
  }
}

//col-1 to col-12, push-1 to push-12
@mixin ResponsiveGridLayout($maxcols, $colgutter, $colSelector:".col-", $pushSelector:".push-", $respond: "desktop"){
  @for $i from 1 through $maxcols {
    #{$colSelector}#{$i} {
      @include respond(unquote($respond))
      {
        float: left;
        width: percentage( $i/ $maxcols) !important;
      }
    }

    #{$pushSelector}#{$i}{
      @include respond(unquote($respond))
      {
        margin-left: percentage( $i/ $maxcols) !important;
      }
    }
  }
}






