@mixin propertyIfSet($fromMap, $key, $propertyToSet){
  @if(hasKey($fromMap, $key)){
    #{unquote($propertyToSet)}: map-get($fromMap, #{unquote($key)});
  }
}


@mixin hasKeySetValue($map, $key, $property, $mode: "darken"){
  @if(map_has_key($map, $key))
  {
    #{unquote($property)}: map-get($map, #{unquote($key)}) !important;
  }@else {
    @if ($mode == "darken"){
      #{unquote($property)}: darken(map-get($map, "colour"),10%) !important;
    }@else if ($mode == "lighten"){
      #{unquote($property)}: lighten(map-get($map, "colour"),10%) !important;
    }@else if ($mode == "comp"){
      #{unquote($property)}: adjust-hue(map-get($map, "colour"), 120deg) !important;
    }
  }
}
