@import "../Settings/breakpoints";

/*
* Respond Mixin
* Create media query from break point or custom media string
* e.g.

    .someClass{
        background:red;
        @include respond(only screen and (max-width: 380px))
        {
            background:blue;
        }
    }

    or
    @include respond(tablets)
    {
       .someClassForTablets{}
       .someOtherClassForTablets{}
    }
*/




@mixin respond($media) {
  @if $media == small {
    @media only screen and (max-width: $width-mobile - 1) { @content; }
  }
  @if $media == mobile {
    @media only screen and (max-width: $width-tablet - 1) { @content; }
  }
  @if $media == largePhones {
    @media only screen and (min-width: $width-mobile) and (max-width: $width-tablet - 1) { @content; }
  }
  @if $media == tablets {
    @media only screen and (min-width: $width-tablet) and (max-width: $width-desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $width-desktop) and (max-width: $width-full - 1){ @content;}
  }
  @else if $media == desktop-large {
    @media only screen and (min-width: $width-full) and (max-width: $width-hd - 1){ @content;}
  }
  @else if $media == full {
    @media only screen and (min-width: $width-full) { @content; }
  }
  @else if $media == hd {
    @media only screen and (min-width: $width-hd) { @content; }
  }
  @else if $media == print {
    @media print { @content; }
  }
  @else {
    @media #{unquote($media)}{ @content; }
  }
}

@mixin breakpoint($media) {

  @if $media == default {
    @media only screen and (max-width: $breakpoint-mobile) { @content; }
  }

  @if $media == mobile {
    @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) { @content; }
  }

  @if $media == tablets {
    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) { @content; }
  }

  @else if $media == desktop {
    @media only screen and (min-width: $breakpoint-desktop) and (max-width: $breakpoint-retina){ @content;}
  }

  @else if $media == retina {
    @media only screen and (min-width: $breakpoint-retina) { @content; }
  }

  @else if $media == 2X {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
      @content;
    }
  }

  @else if $media == print {
    @media print { @content; }
  }
}
