//External Font's

//@import url(//fonts.googleapis.com/css?family=Raleway);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

//Load Fonts locally:
/**
@font-face {
    font-family: 'gothic720';
    src: url('../font/gothic720/gothic-720-light-bt-webfont.eot');
    src: url('../font/gothic720/gothic-720-light-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gothic720/gothic-720-light-bt-webfont.woff2') format('woff2'),
         url('../font/gothic720/gothic-720-light-bt-webfont.woff') format('woff'),
         url('../font/gothic720/gothic-720-light-bt-webfont.ttf') format('truetype'),
         url('../font/gothic720/gothic-720-light-bt-webfont.svg#gothic720_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
**/
