@import "../../Mixins/css3";
@import "../../Mixins/respond";
@import "../../Settings/variables";


/**
  Fixed Top Naviagation
 */


$nav-z-index: 999;
$nav-atTop-height: 85px;
$nav-atTop-offset: 84px;

$nav-height: 65px;

$nav-bar-background-fallback :  #000;
$nav-bar-background : rgba(0,0,0,0.95);



$nav-li-color: #f8f8f8;
$nav-li-background-hover: #f8f8f8;
$nav-li-color-hover: #111;

$nav-icon-color: #ccc;
$nav-li-i-color-hover: #333;

$nav-dropdown-width: 250px;


$nav-li-ul-li-color: #222;

$nav-dropdown-a-background-hover: #111 repeat;
$nav-dropdown-a-color-hover: #f8f8f8 !important;
$nav-dropdown-a-i-color: #555;

$nav-font-family: 'Trade Gothic LT W01 Bold No-_2';

$nav-mobile-color: #f8f8f8;
$nav-mobile-color-hover: #00befe;

$nav-mobile-background: transparent;
$nav-mobile-background-hover: #000;


.fixed-nav{
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: $nav-z-index;
  -webkit-transform: translateZ(0);

  nav{

    font-family: $nav-font-family;

    .module{padding:0;}

    #primary-logo,
    #social-logo{
      display:none
    }
    #mobile-burger-menu{
      float: right;
      height: $nav-height;
      line-height: $nav-height;
      @include transition("all","120ms","ease-in-out");

      a{
        display: block;
        color: $nav-mobile-color;
        background: $nav-mobile-background;

        padding-left: 1em;
        padding-right: 1em;

        span{
          display: none;
        }

        &:hover{
          background: $nav-mobile-background-hover;
          color: $nav-mobile-color-hover;
          cursor: pointer;
        }
      }
    }

    height: $nav-height;
    background-color: $nav-bar-background-fallback;
    background-color: $nav-bar-background;

    @include transition("all","120ms","ease-in-out");

    //menu list
    ul{
      height: $nav-height - 1;
      float: right;
      top: 0;
      @include transition("all","220ms","ease-in-out");

      li{
        color: $nav-li-color;
        list-style: none;
        display: inline-block;
        position: relative;

        @include transition("background","120ms","ease-in");

        i{
          color: $nav-icon-color;
          margin-left: 0 !important;
          text-align: center;
          font-size: 0.88em;
        }

        ul{
          li{
            color: $nav-li-ul-li-color;
          }
        }

        a{
          height: $nav-height;
          line-height: $nav-height;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          font-size: 1em;
          display: inline-block;
          letter-spacing: 0.01rem;
          position: relative;
          color: inherit;



        }

        div.dropdown{

          position: absolute;
          top:$nav-height;
          width: $nav-dropdown-width;
          background: linear-gradient(180deg, #f8f8f8, #d8d8d8);
          text-align: left;
          z-index: -99;
          opacity: 0;
          left: -9999em;
          transform: translateY(15px);


          span{
            display: block;
            font-size: .8em;
            color: #555;
            margin-top: .5em;
            padding-left: 10px;
            padding-right: 10px;

          }
          ul{
            display: block;
            width: 100%;
            height: auto;

            li{
              display: block;
              width: 100%;

              a{
                display: block;
                width: 100%;
                height: auto;
                text-align: left;
                line-height: 1.2;
                font-size: 1em;
                color: inherit !important;
                padding-top: 0.9rem;
                padding-bottom: 0.9rem;

                i{
                  color: $nav-dropdown-a-i-color;
                  font-size: 0.8em;
                  //padding-right: 0.3rem;
                  //width: 16px;

                }

                background: transparent;

                &:hover{
                  cursor: pointer;
                  color: $nav-dropdown-a-color-hover;
                  background: $nav-dropdown-a-background-hover;

                  span{
                    color: #999 !important;
                  }
                }
              }

            }

          }
        }

        &:hover{
          background-color: $nav-li-background-hover;
          color: $nav-li-color-hover;
          opacity: 0.98;
          cursor: pointer;
          i{
            color: $nav-li-i-color-hover;
          }
        }
      }
    }



    //nav at top of page
    &.atTop{
      background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.1));
      height: $nav-atTop-height;

      #mobile-burger-menu{
        height: $nav-atTop-height;
        line-height: $nav-atTop-height;
      }

      ul{
        height: $nav-atTop-offset;
        li{
          a{
            height: $nav-atTop-offset;
            line-height: $nav-atTop-offset + 5;

            + div.dropdown{
              top: $nav-atTop-offset;
            }

          }
        }
      }

    }

  }

  div.dropdown{

    -webkit-transition: transform 180ms ease-in, opacity 180ms ease-in;
    -moz-transition: transform 180ms ease-in, opacity 180ms ease-in;
    -ms-transition: transform 180ms ease-in, opacity 180ms ease-in;
    -o-transition: transform 180ms ease-in, opacity 180ms ease-in;
    transition: transform 180ms ease-in, opacity 180ms ease-in;
  }

  nav ul li a{
    @include transition("all","180ms","ease-in");
  }

  nav ul li a:hover + div.dropdown,
  div.dropdown:hover{
    transform: translateY(0);
    opacity: 1;
    left: 0;
    z-index: 99;
  }


  //normal page navigation.
  &.page{
    nav{

      #primary-logo{

        @include breakpoint(retina) {
          height: $nav-atTop-height;
          width: 360px;
          background-size: contain;
          background: url('#{$assets}/img/branding/martin-audio-logo-unit-white.svg') no-repeat left center;
          opacity: 0;
          display: block;
          position: absolute;
          left: -5px;
        }

        display: none;
        @include transition("all","300ms","ease-in-out");

      }

      #menu-logo{

        display: block;
        width: 65px;
        height: $nav-height;
        float: left;
        margin-left: -5px;

        background: url('#{$assets}/img/branding/ma-logo-m.svg') no-repeat center left;

        @include transition("all","120ms","ease-in-out");
      }

      &.atTop{
        #primary-logo{
          opacity: 1;
        }
        #menu-logo{
          height: $nav-atTop-height;
        }
      }
    }
  }
}
