@import "../../Mixins/respond";

.secondaryImage{
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  &:hover{
    cursor: pointer;
  }
}

.flex-container > div:hover .secondaryImage{
  opacity: 1;
}

.flex-container > div:hover .button.black{
  background: black !important;
  color: white !important;
}

