@import "../../Settings/variables";
@import "../../Mixins/css3";
@import "../../Mixins/svg";

@-webkit-keyframes mobileMoveIn {
  from {right: -100%;}
  to {right: 0%;}
}

@keyframes mobileMoveIn {
  from {right: -100%;}
  to {right: 0%;}

}

@-webkit-keyframes mobileMoveOut {
  from {right: 0%;}
  to {right: -100%;}
}

@keyframes mobileMoveOut {
  from {right: 0%;}
  to {right: -100%;}
}


.drop-content ul li a {
  font-size: 1.2em !important;
  padding-left: 1.4em !important;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  background: rgba(0,0,0,.70);

  &[data-menu-hidden="true"] {
    width: 100%;
    z-index: -1;
    opacity: 0;

    .inner-mobile-menu{
      -webkit-animation: mobileMoveOut 480ms;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: forwards;
      animation: mobileMoveOut 480ms;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

  }

  &[data-menu-hidden="false"] {
    width: 100%;
    z-index: 999 !important;
    opacity: 1;

    .inner-mobile-menu{

      -webkit-animation: mobileMoveIn 480ms;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: forwards;

      animation: mobileMoveIn 480ms;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

  }

  .inner-mobile-menu {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 60%;
    min-width: 320px;
    background: #000;
    z-index: +1;

  }





  #mobile-advert{
    display: block;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
  }
  .snap-drawer{

    #snap-drawer-logo,
    #snap-drawer-close{
      height: 65px;
      background-repeat: no-repeat;
      background-position: 1.4em;
      margin-bottom: 20px;
      margin-top:10px;
    }

    #snap-drawer-logo{
      width: 39%;
      float: left;
      background-image: url(https://static.martin-audio.com/img/branding/ma-logo-m.svg);
      background-position: 19px 0;
    }

    #snap-drawer-close{
      float: right;
      width: 59%;
      text-align: right;
      padding-right: 2.5em;
      color: #ccc;
      padding-top: 20px;
      &:hover{
        color: #FFF;
        cursor: pointer;
      }
    }

    & li > a {
      display: block;
      text-decoration: none;
      color: #ccc;
      outline: 0;
      border: 0;
      font-family: 'Trade Gothic LT W01 Bold No-_2';
      font-size: 1.4em;
      line-height: 1.3;
      padding: 0.5em 1.2em;
      cursor: pointer;

      &:hover{
        cursor: pointer;
        color: #FFF !important;
        border: 0;
      }
    }

    & ul ul,
    & ul ul li,
    & ul ul li a {
      background: #e8e8e8;
      color: #111;

      &:hover{
        background: #222;
        color: #e8e8e8;
        cursor: pointer;
      }

    }

    & p {
      font-size: 12px;
      padding: 2em 2.5em;
      color: #888;
    }

    .dropdown{
      cursor: pointer;
      background: transparent url("#{$assets}/img/template/chev-down.jpg") no-repeat scroll 90%;


      &.active{
        color: #FFF;
        background-image: url("#{$assets}/img/template/chev-up.jpg");
      }

    }

    .drop{

      @include transition('max-height','280ms','ease');

      background: #000;
      overflow: hidden;
      max-height: 0;

      &.active{
        max-height: 420px;
        overflow-x:auto;
      }


    }
  }
}




.noscroll {
  overflow: hidden;
  position: absolute;
  left:0;
  width: 100%;
}
