/* The container <div> - needed to position the dropdown content */

.pulldown{
  display: inline-block !important;
}

div.dropdown {
  position: relative;
  display: inline-block;

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
    margin-top: -5px;

    a {
      color: black;
      padding: 15px 0px;
      padding-left: 10px;
      padding-right: 5px;
      text-decoration: none;
      display: block;
      text-align: left;
      min-width: 100%;
      border-bottom: 1px solid #e8e8e8;
      font-size: 0.9em;

      &:hover {
        background-color: #000;
        color: white;
      }

      &:last-child{  border-bottom: 0 !important;  }
      &:first-child{  padding-top:20px;  }
      i{
        margin-right: 7px;
      }
    }

    &.show {display:block;}
  }

}

select.mobile-jump-menu{
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  border-right: 6px solid white;
  padding: 8px 20px;
}