<div class="dropdown">

    <button class="white solid small"><i class="fa fa-caret-down"></i>Support/Downloads</button>

    <div class="dropdown-content">

        <a href="{{ assets }}/downloads/datasheets/X8datasheet.pdf"
           title="BlacklineX8 Datasheet"
           target="_blank">
            <i class="fa fa-file-pdf-o fa-fw"></i> BlacklineX8 Datasheet
        </a>

        <a href="https://martin-audio.com/userguides2015/downloads/English/ControllerLoadingSoftwarePresets/General%20Presets%20v3.5.xls"
           title="BlacklineX8 Speaker Parameters"
           target="_blank">
            <i class="fa fa-table fa-fw"></i> Speaker Parameters
        </a>

    </div>

</div>