@import "../../Partials/buttons";

%button-block{
  display:block;
  float:none;
  clear:both;
  margin: 0 auto 10px;
  width: 100%;
}

.button, button{

  text-decoration: none;
  @extend %buttonTemplate;

  &.block{
    @extend %button-block;
  }

  &.half-block{
    display:block;
    margin: 0 auto 10px;
    width: 48%;

    &.left{
      float: left;
    }

    &.right{
      float:right;
    }

  }

  &.no-hover{
    cursor: default !important;
    box-shadow: 0 0 0 transparent !important;
    &:hover{
      background: inherit !important;
      color: inherit !important;
    }
  }

  &.half-block-desktop{
    @include breakpoint(retina){
      width: 48%;
      &.left{
        float: left;
      }

      &.right{
        float:right;
      }
    }
    display:block;
    margin: 0 auto;
    width: 100%;
  }

  &.mobile-block{
    @include respond(mobile) {
      display:block;
      float:none;
      clear:both;
      margin: 0 auto 15px;
      width: 100%;
    }
  }

  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}

  &.disabled{
    opacity: 0.4;
    background: white !important;
    color: black !important;
    border-color: #ccc !important;
    position: relative;

    &:hover{
      cursor: not-allowed;
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0);
      box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
    &:active{
      opacity: 1;

      &:after{
        display: block;
        content: "Not Available";
        position: absolute;
        left: 0;
        right: 0;
        background: black;
        color: white;
        top:0;
        bottom: 0;
        font-size: 13px;
        line-height: 3.6em;
      }
    }
  }

}

p{
  .button, button{
    .small{
      margin: 0 10px !important;
      padding: 7px !important;
    }
  }
}
.button.white{
  border-color: #FFF;
  color: #FFF;
}
.button.green.solid{
  background: #2cc36b;
  color: #111;
}

.button.green{
  border-color: #2cc36b;
  color: #2cc36b;
}

.button.silver.solid{
  background: #bdc3c7;
  color: #000;
}