@import "../Partials/helpers";
@import "../Settings/variables";
@import "../Components/Fonts/trade-gothic";
@import "../Mixins/css3";
//basic template
html{
  max-width: 100%;
}

body{
  background: #000;
}

//typography
h1,h2,h3,h4,h5,h6, .button, .tab, p.lead{
  font-family: sans-serif;
  font-family:'Trade Gothic LT W01 Bold No-_2';
}
body,p,
#page h2{
  font-family: sans-serif;
  font-family:'Trade Gothic LT W01 Roman';
}

//links
a{
  text-decoration: none;
  color: #00befe;
}

nav ul li a{
  font-family: sans-serif;
  font-family:'Trade Gothic LT W01 Bold No-_2';
  text-decoration: none;
}



#mobile-header-bar{
  display: block;
  width: 100%;
  background-color: #000;
  .content{
    position: relative;
    z-index: 10;
  }
  #breadcrum{
    a{
      color: #00befe;
      text-decoration: none;
    }
  }
}

.cssbar{
  position: relative;
  background-color: #000;
  background-attachment: fixed !important;
  background-size: auto 400px !important;

  &:after{
    position: absolute;
    top:0;
    bottom: 1px;
    left: 0;
    right:0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABNJREFUeNpiYECA/3CCAV0UIMAANfEC/mOKn1cAAAAASUVORK5CYII=);
    background-attachment: scroll;
    content: "";
    opacity: 0.55;
    z-index: 8;
  }
  &:before{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, transparent 60%);
    content: "";
    opacity: 1;
    z-index: 8;
  }
}


#mobile-header-bar.cssbar{
  @include breakpoint(retina) {
    background: transparent none !important;
  }

  @include breakpoint(desktop) {
    background: transparent none !important;
  }

  @include breakpoint(tablets) {
    background: transparent none !important;
  }
}


#mobile-promo {
  margin: 20px auto;
  margin-bottom: 0;
}

#mobile-promo,
.mobileshow{
  display: none;
  @include breakpoint(default){
    display: block;
  }
  @include breakpoint(mobile){
    display: block;
  }
}

.mobilehide{
  display: none;
  @include breakpoint(tablets){
    display: block;
  }
  @include breakpoint(desktop){
    display: block;
  }
  @include breakpoint(retina){
    display: block;
  }
}

.clear{
  display: block;
  clear: both;
}


//product pages- background main image.
.promo-bg{
  display: block;
  width: 100%;
  background-size: contain;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;

  @include breakpoint(tablets){
    background: url('#{$assets}/img/template/main-product-background.jpg') center no-repeat;
  }
  @include breakpoint(desktop){
    background: url('#{$assets}/img/template/main-product-background.jpg') center no-repeat;
  }
  @include breakpoint(retina){
    background: url('#{$assets}/img/template/main-product-background.jpg') center no-repeat;
  }

  figure{
    img{
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
  }

  &:after{
    content: "";
    display: block; clear: both
  }

}


#ProductReadMore{
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: lighten;
}




//helpers
.mobiletablethide{
  @extend %mobiletablethide;
}
.mobiletabletshow{
  @extend %mobiletabletshow;
}
.padTop{
  @extend %padTop;
}
.padBottom{
  @extend %padBottom;
}
.padTop-2x{
  @extend %padTop-2x;
}
.padBottom-2x{
  @extend %padBottom-2x;
}
.text-center{
  text-align: center;
}
.centered{
  display: block;
  margin: 0 auto;
}
.padded-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hide{
  display: none !important;
}
.mobile-text-center{
  @include breakpoint(default){
    text-align: center !important;
  }
  @include breakpoint(mobile){
    text-align: center !important;
  }
}
.gutter{
  margin-left: 10px;
  margin-right: 10px;
}

//default modal/lightbox styles.
.modal{
  display: block;
  cursor: pointer !important;
  border:2px solid transparent;
  position: relative;
  &:hover{
    cursor: pointer !important;
    opacity: 0.95 !important;
    border-color: #e8e8e8;
  }
}

.modal{
  @include transition('all','200ms','ease');
  img{
    @include transition('all','200ms','ease');
  }
  &:hover {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0px 0px 270px 0px white;
    cursor: -moz-zoom-in !important;
    cursor: -webkit-zoom-in !important;
    cursor: zoom-in !important;
    img{
      transform: scale(1.02);
    }
  }
}

.modal i.fa-spinner{
  position: absolute;
  z-index: 9;
}



//hide accordion, show default styles.
.accordion{
  .tab{
    h1,h2,h3,h4,h5,h6 {
      font-size: 1.5rem !important;
      margin-bottom: 0 !important;
    }
    display: block;
    padding: 20px 0;
    font-size: 1.5rem !important;
    i {
      display: none;
    }
  }
  .content{
    display: none;
  }
}

//hide the distributor search result block
//hide any modals, load styles/javsacript on click
#search-area,
.white-popup,
.mfp-hide,
.data-list,
.dist-result-block,
.pulldown,
.modal-content{
  display: none;
}

//parallax header
#header-bar{
  top:0;
  left:0;
  right:0;
  position: relative;
  background: #111;

  &::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    width: 100%;
    background: linear-gradient(transparent 70%,rgba(0,0,0,.9));
    content: "";
    left: 0;
    right: 0;
  }
}
.parallaxParent {
  display: none;
  overflow: hidden;

  @include breakpoint(retina){
    display: block;
  }
  @include breakpoint(desktop){
    display: block;
  }
  @include breakpoint(tablets){
    display: block;
  }

  > * {
    height: 200%;
    position: relative;
    top: -50%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: auto;
    background-blend-mode: screen;
    background-blend-mode: screen,screen,normal;
    -webkit-transition: all 0s;
    transition: all 0s;
  }

  > div.active{
    top: -130%;
  }
}
#parallax1{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  &::before {
    position: fixed;
    content: '';
  }
}





/**
LIVE AND INSTALLED SOUND PRODUCT LISTS.
 */
.product-block{
  &.no-heading .heading{
    display: none;
  }
  &.retina-heading .heading{
    display: none;
    @include breakpoint(retina){
      display: block;
    }
  }
  &.xd-heading .heading{
    display: none;
    @include breakpoint(retina){
      display: block;
    }
    @include breakpoint(desktop){
      display: block;
    }
    @include breakpoint(tablets){
      display: block;
    }
    @include breakpoint(phones){
      display: none !important;
    }
  }
  &.retina-tablet-heading .heading{
    display: none;
    @include breakpoint(retina){
      display: block;
    }
    @include breakpoint(desktop){
      display: none;
    }
    @include breakpoint(tablets){
      display: block;
    }
  }
  &.no-heading-mobile .heading{
    @include breakpoint(mobile){
      display: none !important;
    }
  }
}

.product-row{
  overflow-x:hidden;
}


//product blocks for live/installed/product list.
.product-block{
  margin-top: 20px !important;
  position: relative;
  img{
    background:white;
    border:1px solid #e8e8e8;
    display: block;
    width: 100%;
    padding: 10px 10px 0;
    margin-bottom: -1px;
  }
  .heading{
    padding-top: 5px;
    font-size:1.1em;
    font-family: Trade Gothic LT W01 Bold No-_2;
    line-height: 3;

    @include breakpoint(retina){
      height:40px;
      width: 130%;
      line-height: 1.2
    }
    @include breakpoint(desktop){
      width: 140%;
      height:40px;
      line-height: 1.2
    }
    @include breakpoint(tablets){
      width: 150%;
      height:40px;
      line-height: 1.2
    }
    @include breakpoint(mobile){
      height:40px;
      width: 150%;
      line-height: 1.2
    }

  }
  .button{
    margin-bottom: 0 !important;
  }
  a:hover + a{
    border-color: #dde1e2 !important;
    background: #dde1e2 !important;
    color: #1a1a1a !important;
    box-shadow: 0 6px 33px -15px #000 !important;
  }
}

//product list
//search filter
#product-list-title{
  h4{
    margin-bottom: 0 !important;
    padding-top: 20px;
  }
  .clear-result{
    display: block;
    padding-top: 10px;
  }
  span{
    &.search-term,
    &.result-count{
      color: #666;
    }
  }
}

.white-bg a,
.grey-bg a {
  color: #169dcb;
}







.event-container{

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: row wrap;

  &.press{
    .event-item{
      .event-descrption{
        h5{
          margin-bottom: 40px;
        }
        p{
          strong{
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
        }
      }
    }
  }
  &.events{
    .event-item{
      .event-image{
        height: 320px;
        @include breakpoint(desktop){
          height: 300px;
        }

        .large{
          height: 320px;
          @include breakpoint(desktop){
            height: 70% !important;
            min-height: 240px;
          }
          @include breakpoint(retina){
            height: 75% !important;
            min-height: 240px;
          }
        }

      }
      .event-descrption{
        p{
          margin-bottom: 20px;
          strong{
            position: absolute;
            bottom: 20px;
            left: 20px;
          }
        }
        h5{
          margin-bottom: 20px;
          color: #555;
        }
      }
    }
  }
}

.event-item{
  align-items: stretch;
  margin-bottom: 20px;
  background-size:cover !important;
  background-position:center !important;
  .inner{
    height: 100%;
    background: #f2f2f2 linear-gradient(3600deg,#f2f2f2,#fff);
    position: relative;

    -webkit-box-shadow: 0 0 22px 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 22px 1px rgba(0,0,0,0.8);
  }
  .event-image{
    width: 100%;
    background: #000;
    height: 240px;
    background-size: cover !important;
    background-position: center !important;

    @include breakpoint(desktop){
      height: 70% !important;
      min-height: 240px;
    }
    @include breakpoint(retina){
      height: 75% !important;
      min-height: 240px;
    }

    &.small{
      height: 240px !important;
    }

  }
  .event-descrption{
    padding: 20px;

    h1,h2,h3,h4,h5,h6{
      color: #000;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    p{
      margin-bottom: 0;
      padding-top: 20px;
      strong{
        font-size: 14px;
        color: #555;
      }
    }
  }
}



//homepage slider

#homepage-loading{
  display: flex;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  z-index: 998;
  background: #000;
  -webkit-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
  -ms-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}

#homepage-loading.loaded {
  background: transparent;
  opacity: 0;
  z-index: -1;
}

#homepage-loading .item{
  align-self: center; align-items: center; text-align: center; width: 100%
}
#homepage-loading .item p{
  color: white;text-align: center
}

.flex-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.flex-container .item{
  align-items: center;
  width: 100%;
  align-self: center;
  text-align: center;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#homepage-slider{
  width: 100%;
  min-height: 500px;
  height: 100vh;
  position: relative;

  -webkit-box-shadow: 0 2px 70px 1px rgba(0,0,0,1);
  box-shadow: 0 2px 70px 1px rgba(0,0,0,1);
  z-index: 10;
}

.svg-image{
  width:80%; max-width: 480px;
}
.centered{
  display: block; margin: 0 auto;
}


.fade-slider{
  width: 100%;
  height: 100%;
  div{
    position: relative;
    height: 100%;
    width: 100%;
    span.bg-wrap{
      display: block;
      background-position: center;
      z-index: -1;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      &:after{
        content: "";
        position: absolute;
        background: linear-gradient(transparent 50%, black);
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
}

#homepage-slider{
  .fade-slider{
    .flex-container{
      .item {
        h1{
          color: white; margin-bottom: 0;
          letter-spacing: -0.05em;
          text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
          font-size: 4.5em;
          padding-bottom: 10px;

          @include breakpoint(tablets){
            font-size: 6.5em;
          }
          @include breakpoint(desktop){
            font-size: 7.5em;
          }
          @include breakpoint(retina){
            font-size: 9em;
          }
        }
        p{
          color: white; text-align: center;
          max-width: 90%;
          margin: 0 auto;
          margin-bottom: 20px;
          text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
          line-height: 1.2;
          padding-top: 10px;
        }
        .button{
          @include breakpoint(default){
            max-width: 320px;
          }
          @include breakpoint(mobile){
            max-width: 320px;
          }
        }
      }
      .bottom-div{
        position: absolute; bottom: 10px; height: auto; padding: 10px; left: 0; right:0; text-align: center;
        .fa-stack{
          color: #000;
          .fa-stack-2x{
            color: #FFF
          }
        }
      }

    }
  }
}

.about-image{
  width: 100%;
  max-width: 1300px;
  background-color: transparent;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  opacity: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right !important;
  margin: 0 auto;
}


#about,
.about-image,
.event-item.animated,
.cssSwap.fadeIn{
  opacity: 0;
  -webkit-transition: all 600ms ease-in;
  -moz-transition: all 600ms ease-in;
  -ms-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}

#about.active,
.about-image.active,
.cssSwap.fadeIn.loaded,
.event-item.animated.active{
  opacity: 1
}

.home-about{
  position: absolute;
  right: 0;
  top:0;
  z-index: -1
}

.home-bg-wrap{
  background-color: #000;
  padding-top: 200px;
  margin-top: -200px;
  padding-bottom: 200px;
  margin-bottom: -180px;
  background-position: center;
  background-repeat: no-repeat;
}

.jump-url{
  display: block;
  position: absolute;
  margin-top: -80px;
}

.desktop-shift{
  @include breakpoint(retina){
    height: 150px;
  }
  @include breakpoint(desktop){
    height: 150px;
  }
}



.floating-image {
  @include breakpoint(retina){
    position: absolute; right: 0; top: -150px; z-index: 9
  }
  @include breakpoint(desktop){
    position: absolute; right: 0; top: 0; z-index: 9;
  }
}



#FloatingProductImage{
  @include breakpoint(retina){
    position: absolute;
    right: 20px;
    bottom:-80px;
    z-index: 9;
  }
  @include breakpoint(desktop){
    position: absolute;
    right: 0;
    bottom: -160px;
    z-index: 9;
    max-width: 660px;
  }

  text-align: center;
  margin-bottom: 20px;
}

.FloatingProductImageSpacer{
  @include breakpoint(retina){
    height: 40px;
  }
  @include breakpoint(desktop){
    height: 60px;
  }
}


#ProductReadMore{
  &.dark{
    position: relative;
    &::before{
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(120deg, #111,rgba(0,0,0,0.3));
      position: absolute;
      content:"";
    }
  }
}
