%module{
  @include respond(full) {
    margin: 0 $gutter/2;
  }

  @include respond(desktop) {
    margin: 0 $gutter/2;
  }

  @include respond(tablets) {
    margin: 0 $gutter/2;
  }

  position: relative;
  display:block;
  margin: 0 $gutter/4;
  padding: $module-padding;


  &.trans
  {
    background:transparent !important;
  }

  &.flush{
    padding: 0 !important;
  }

  &.full-height{
    height:100% !important;
  }
}