@import "../Settings/typography";
@import "../Mixins/respond";

%paragraph-font{
  font-style: normal;
  font-size: 1em;
}

%standard-header-font{
  font-style: normal;
  font-weight: 500;
}

%strong{
  font-weight: 500;
}


%paragraphTemplate{

  @extend %paragraph-font;
  text-align: left;
  line-height: $font-leading;
  margin-bottom: $gutter;

  &.lead{
    font-size: 110%;
    line-height: 1.5;
    letter-spacing: 0.01em;
    @extend %strong;
  }
}


%headerTemplate{
  @extend %standard-header-font;
  margin-bottom: $gutter;
}

%heading-big{
  font-size: 4.2em;
}

%heading1{
  font-size: $heading-h1;
  line-height: 1.1;
}

%heading2{
  font-size: $heading-h2;
  line-height: 1.1;
}

%heading3{
  font-size: $heading-h3;
  line-height: 1.1;
  @include breakpoint(tablets){
    font-size: 1.6em;
  }
}

%heading4{
  font-size: $heading-h4;
  line-height: 1.1;
}

%heading5{
  font-size: $heading-h5;
  line-height: 1.2;
}

%heading6{
  font-size: $heading-h6;
  line-height: 1.2;
}