@import "../../Mixins/css3";

/*
Lightbox-Modals.
Img,Video (iframe) and Html
*/

$lightbox-close-width: 55px;
$lightbox-close-height: 55px;
$lightbox-close-bg: transparent;
$lightbox-close-bg-hover: #ccc;

.lightbox-container{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.85);
  z-index: 9999;
  opacity: 0;
  @include transition('all','200ms','ease');
}

.lightbox-wrap{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.lightbox-close{
  position: absolute;
  top:0;
  right: 15px;
  width: $lightbox-close-width;
  height: $lightbox-close-height;
  z-index: 9999;
  color: #ccc;
  text-align: center;
  font-size: 2em;
  background: $lightbox-close-bg;
  border: 3px solid $lightbox-close-bg-hover;
  box-sizing: content-box;
  &::after{
    content: "X";
    top:0;
    display: block;
    position: absolute;
    width: $lightbox-close-width;
    height: $lightbox-close-height;
    line-height: $lightbox-close-height;
  }
  &:hover{
    cursor: pointer;
    color: #000;
    border-color: #ccc;
    background: $lightbox-close-bg-hover;
  }
}


.lightbox-description{
  position: absolute;
  bottom: 0;
  width: 100%;
  float: left;
  z-index: 99999;
  background: #000;
  div{
    color: #ccc;
    font-family: Trade Gothic LT W01 Bold No-_2;
    font-size: 1.1rem;
    padding: 20px;
    text-align: center;
  }
}

.lightbox{
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  @include transition('all','200ms','ease');
  .modal-content{
    display: block ;
  }
}

/** Image Lightbox **/
.lightbox{
  &.img{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.1);
    &:after{
      content: "Loading....";
      position: absolute;
      color: white;
    }
    img{
      -webkit-box-shadow: 1px 1px 33px 2px rgba(0,0,0,0.7);
      box-shadow: 1px 1px 33px 2px rgba(0,0,0,0.7);
      margin: 0 auto;
      padding: 0;
      display: block;
      max-height: 90%;
      opacity: 0;
      @include transition('all','200ms','ease');
    }
    &.loaded{
      &:after{
        display: none;
      }
      img{
        opacity: 1;
      }
    }
  }
}

/** Html Content Lightbox **/
.lightbox{
  &.html{
    display: block;
    margin: 0 auto;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    background: white;
    transform: scale(1);
    top:-100px;
  }
}

/** Video Lightbox **/
.lightbox{
  &.video{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe{
      -webkit-box-shadow: 1px 1px 33px 2px rgba(0,0,0,0.7);
      box-shadow: 1px 1px 33px 2px rgba(0,0,0,0.7);
      width: 80%;
      max-width: 1920px;
      height: 80%;
      max-height: 1200px;
      transform: scale(1);
    }
  }
}

/** Display Modals inside lightbox but hide when not open **/
.modal-content{
  display: none;
}

/** Show Modal class, lock scrolling and hide menu **/
body{
  &.show-modal{
    overflow: hidden;
    position: absolute;
    left:0;right:0;

    .fixed-nav{
      opacity: 0;
    }
    .lightbox-container{
      opacity: 1;
    }
    //display html lightbox
    .lightbox.html{
      top:0;
      opacity: 1;
    }
    //display img lighbox
    .lightbox.img{
      opacity: 1;
      transform: scale(1);
    }
    //display video lightbox
    .lightbox.video{
      opacity: 1;
    }
  }
}

a.modal{
  i.fa.fa-spinner.fa-spin.fa-fw {
    position: absolute;
    transform: translateX(-20%);
    top: 50%;
  }
}

a.modal i + i{
  margin-left: 0;
  margin-right: -10px;
}

