/*
SASS/Framework/Typography.Scss
Dan Smith. 2015
*/
@import "../../Settings/typography";
@import "../../Partials/typography";
@import "../../Mixins/respond";


html{
  @include breakpoint(retina){
    font-size: 18px;
  }
  font-size: $font-size;
}

body{
  font-size: 100%;
}

strong{
  font-family: Trade Gothic LT W01 Bold No-_2;
}

p{
  @extend %paragraphTemplate;

  i{
    font-style: italic;
  }

  &.bold, strong{
    @extend %strong;
  }

}

.text-left{
  text-align: left !important;
}

@for $i from 1 through 6 {
  h#{$i},
  .heading#{$i} {
    @extend %headerTemplate;
    @extend %heading#{$i};
    text-rendering: optimizelegibility;
  }
}

button:focus,
.button:focus{
  background: transparent;
  outline: 0;
}

.main-navigation ul li a::selection,
.button::selection{
  background: transparent !important;
  color: inherit !important;
}


.dark h1::selection,
.dark h2::selection,
.dark h3::selection,
.dark h4::selection,
.dark h5::selection,
.dark h6::selection,
.dark p::selection,
.dark a::selection,
.dark strong::selection,
.dark ul li::selection{
  color: lightblue;
  background: transparent;
}

.light-bg,.light,.white-bg,.grey-bg{
  h1,h2,h3,h4,h5,h6,p,a,strong,ul li{
    &::selection,
    &::-moz-selection{
      color: black;
      background: lightblue;
    }
  }
}

img::selection{
  background: transparent;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
}