@import "../../Settings/colours";
@import "../../Mixins/css3";

.white-bg,.grey-bg{
  a{
    color:$link-col;
    &:hover{
      color: #000;
    }
  }
}

.black-bg,.silver-bg{
  a{
    color:$link-col-light;
    &:hover{
      color: #000;
    }
  }

  a.button{
    color: white;
  }

}

.light{
  a{
    &:hover{
      color: #FFF;
    }
  }
}

a{

  &.light{
    &:hover{
      color: #FFF;
    }
  }

  &.dark{
    &:hover{
      color: #000;
    }
  }

  color:$link-col-light;
  text-decoration: none;
  font-weight: 500;
  @include transition("all","180ms");

  &:hover{
    color: #222;
    cursor: pointer !important;
  }

  &:active, &.active{
    color:$link-col;
    text-decoration: none;
  }
}


p{

  a{

    position: relative;
    display: inline-block;
    line-height: 1em;

    &:after{
      display: block;
      position: absolute;
      content: "";
      width:0;
      opacity: 0;
      height: 3px;
      background: #ccc;
      bottom: -0.3em;
      @include transition("all","180ms");

    }

    &:hover{
      &:after{
        width:100%;
        opacity: 1;
      }
    }


  }

}


.link{
  bottom: 10px;
  display: block;
  font-size: 12px;
  padding: 0;
  position: absolute;
  right: 10px;
  text-align: right;

}


a:hover,a:active,a:focus, a:link{outline: 0 none;}

