/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04-Mar-2014, 16:18:40
    Author     : dansmith
*/

//Vars


.navigation {

    background:$megadrop-background;
    width: 100%;
    height: $megadrop-height;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin:0 !important;

    &.shadow{
        -webkit-box-shadow:inset 0 0 12px 0 darken($megadrop-background,30%);
        box-shadow:inset 0 0 12px 0 darken($megadrop-background,30%);
    }


    li{
        list-style: none;

        &.nav-right{
            float: right;
        }
    }


    > li {
        padding: 0;
        float: left;
        position: relative;

        > a {
            float: left;
            color: #fff;
            font-size: 15px;
            text-decoration: none;
            line-height: $megadrop-height;
            padding: 0 12px;
            margin-right:1px;
            height: $megadrop-height;
            //text-shadow: -1px 1px 0 darken($megadrop-background,30%);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

            &:last-of-type{
                margin-right:0;
            }
        }
        > div {
            position: absolute;
            left: 0;
            top: $megadrop-height;
            display: none;
            background: #fff;
            border-bottom:2px solid lighten($megadrop-background,30%);;
            padding: 10px 10px;
            box-shadow: 0 2px 3px rgba(0,0,0,0.1);
            overflow: hidden;
            z-index: 99999;

            p { color: #666; }
            .right { right: 0; left: auto }
        }
        &.active{

        }
        &:hover, &.active{
            > a {


                //border-top:1px solid #FFFFFF;
                background:  $megadrop-background-hover;
                color:   darken($megadrop-background-hover,100%) ;
                text-shadow: -1px 1px 0 #FFFFFF;

                $experimental-support-for-svg: true;
              @include background-gradient(#f8f8f8, #ffffff);


            }

            > div { }
        }
        &:first-child{
            > a { border-left: 0; }
        }
        &:last-child{
            > a { border-right: 0; }
        }
    }

}

.nav.nojs{

    > li {


        &:hover{
            > a {


                //border-top:1px solid #FFFFFF;
                background:  #f8f8f8;
                color:   #222;
                text-shadow: -1px 1px 0 #FFFFFF;

                $experimental-support-for-svg: true;
                @include background-gradient(#f8f8f8, #ffffff);

            }
            > div { }


            div[class^="container-"]{
              display:block !important;
              opacity: 1;
              moz-opacity: 1;
            }

        }
    }
}

.navvisfix{
    visibility:visible !important;
    opacity:1 !important;
    display:block !important;
}

/* MEGA DROP DOWN */
//Create containers 1  to Max Col Number
@for $container_i from 1 through $megamenu-dropdown-max-cols {
    .container-#{$container_i}{
        width: $megadrop-dropdown-column-width * $container_i;



        //Define cols 1 to (current container number)
        @for $col_i from 1 through $container_i{
            .col#{$col_i}{
                margin:0; padding:0;
                float:left;
                width: ((100 / $container_i) *  $col_i) +0%;

            }
        }
    }
}