/*
SASS/Framework/list-links.Scss
Dan Smith. 2015
*/
@import '../../Partials/helpers';

//links
ul,ol{

  list-style: none !important;
  @extend %text-left;

  li{
    list-style: none !important;
  }

  &.inline{
    li{
      display: inline;
      padding-right: 10px;
    }
  }

}

ul.fa-ul li{
  line-height: 1.2em;
  margin-bottom:10px;
  font-size: 90%;
}

.fa-ul{
  margin-left: 1.5em !important;
}


ul.home-ul li{
  line-height: 1.5em;
}

ul.home-ul li h5 i{
  color: #ccc !important;
  font-size: 80%;
}

ul.home-ul li a:hover h5{
  color: #1dadff !important;
}
