/*

SASS Helpers

Used through out. Import helpers where possible instead of relying on class names.

*/

.uppercase{
  @extend %uppercase;
}

.lowercase{
  @extend %lowercase;
}

.hide{
  @extend %hide;
}

.rel-full-height{
  @extend %rel-full-height;
}

.hdhide{
  @extend %hdhide;
}

.mobilehide{
  @extend %mobilehide;
}

.mobileshow{
  @extend %mobileshow;
}

.tabletshow{
  @extend %tabletshow;
}

.mobiletablethide{
  @extend %mobiletablethide;
}

.mobiletabletshow{
  @extend %mobiletabletshow;
}

.overflow-hidden{
  @extend %overflow-hidden;
}

.centered{
  @extend %centered;
}

.pad{
  @extend %pad;
}

.padTop{
  @extend %padTop;
}

.padBottom{
  @extend %padBottom;
}
.padTop-2x{
  @extend %padTop-2x;
}
.padBottom-2x{
  @extend %padBottom-2x;
}

.padLeft{
  @extend %padLeft;
}
.padRight{
  @extend %padRight;
}
.padLeftRight{
  @extend %padLeftRight;
}
.no-pad{
  padding:0 !important;
}


.hidden-anim{

  @include respond(full) {
    opacity: 0;
  }
  @include respond(desktop) {
    opacity: 0;
  }
  @include respond(tablets) {
    opacity: 0;
  }
  opacity: 1;

  &.active{
    opacity: 1;
  }
}


.desktop-shift{
  @include respond(full) {
    margin-top:150px;
  }
  @include respond(desktop) {
    margin-top:100px;
  }
  @include respond(tablets) {
    margin-top: 0;
  }
  margin-top: 0;
}

.desktop-spacer{
  @include respond(full) {
    margin: 80px auto;
  }
  @include respond(desktop) {
    margin: 60px auto;
  }
  @include respond(tablets) {
    margin: 60px auto;
  }
  margin: 10px auto;
}

.menu-spacer{
  @include respond(full) {
    height: 220px;
  }
  @include respond(desktop) {
    height: 210px;
  }
  @include respond(tablets) {
    height: 40px;
  }
  height: 40px;
}


.mobile-text-center{
 @extend %mobile-text-center;
}
.text-center{
  @extend %text-center;
}
.text-left{
  @extend %text-left;
}
.flushbottom{
  @extend %flushbottom;
}
.flushtop{
  @extend %flushtop;
}
.flushleft{
  @extend %flushleft;
}
.flushright{
  @extend %flushright;
}
.clear{
  @extend %clear;
}
