/*
SASS/Framework/Tables.Scss
Dan Smith. 2015
*/

@import "../../Mixins/respond";


.table-wrap{
  display: block; max-width: 100%; overflow-x: auto;
  border:1px solid #ccc;
}

table.data{



  .download{
    @include breakpoint(retina){
      width: 170px !important;
    }
    @include breakpoint(desktop){
      width: 170px !important;
    }
    @include breakpoint(tablets){
      width: 170px !important;
    }
  }

  .download .button{
    margin:0 !important;

    @include breakpoint(default){
      max-width: 320px;
      margin: 0 auto 10px !important;
    }
    @include breakpoint(mobile){
      max-width: 320px;
      margin: 0 auto 10px !important;
    }
  }

  tr{
    &:hover{
      td{
        @include breakpoint(retina){
          background: #d8d8d8 !important;
        }
        @include breakpoint(desktop){
          background: #d8d8d8 !important;
        }
        @include breakpoint(tablets){
          background: #d8d8d8 !important;
        }
      }
    }
  }


 th{
   font-family: Trade Gothic LT W01 Bold No-_2;
   display: none;
   border-bottom: 1px solid #ccc;
   @include breakpoint(retina){
     display: table-cell;
     background: #f2f2f2;
     color: #000;
     padding: 20px;
     text-align: left;
     min-width: 200px;
   }
   @include breakpoint(desktop){
     display: table-cell;
     background: #f2f2f2;
     padding: 20px;
     text-align: left;
     min-width: 200px;
   }
   @include breakpoint(tablets){
     display: table-cell;
     background: #f2f2f2;
     padding: 20px;
     text-align: left;
     min-width: 200px;
   }
 }

  tr th:last-child{
    border-right: 0 !important;
  }

  tr{

    @include breakpoint(retina){
      background: #f2f2f2;
    }
    @include breakpoint(desktop){
      background: #f2f2f2;
    }
    @include breakpoint(tablets){
      background: #f2f2f2;
    }



    &:nth-child(2n){
      @include breakpoint(retina){
        background: #f8f8f8 !important;
      }
      @include breakpoint(desktop){
        background: #f8f8f8 !important;
      }
      @include breakpoint(tablets){
        background: #f8f8f8 !important;
      }
    }

    td{
      display: block;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      vertical-align: middle;

      p{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        @include breakpoint(retina){
          margin: 0;
          text-align: left;
        }
        @include breakpoint(desktop){
          margin: 0;
          text-align: left;
        }
        @include breakpoint(tablets){
          margin: 0;
          text-align: left;
        }

      }
      .button{
        margin-bottom: 10px;
        width: 100%;
      }

      @include breakpoint(retina){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }
      @include breakpoint(desktop){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }
      @include breakpoint(tablets){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }

      &:nth-child(1){


        padding: 20px;
        font-family: Trade Gothic LT W01 Bold No-_2;
        text-transform: uppercase;
        background: #f2f2f2;


        @include breakpoint(tablets){
          text-align: right;
        }
        @include breakpoint(desktop){
          text-align: right;
        }
        @include breakpoint(retina){
          text-align: right;
        }
      }
    }

  }

  td.download{
    padding: 0;
    vertical-align: middle;
    @include breakpoint(retina){
      padding: 10px 20px !important
    }

    @include breakpoint(desktop){
      padding: 10px 20px !important
    }

    @include breakpoint(tablets){
      padding: 10px 20px !important
    }

  }

}



table.list.archive-download{

  tr{
    td{
      @include breakpoint(retina){
        padding: 10px;
      }

      @include breakpoint(desktop){
        padding: 10px;
      }

      @include breakpoint(tablets){
        padding: 10px;
      }

      &:first-child {
        font-size: 1em;
        letter-spacing: 0.03em;
        color: #333;

        padding: 20px;
        margin-bottom: 20px;

        @include breakpoint(retina){
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 0;
        }

        @include breakpoint(desktop){
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 0;
        }

        @include breakpoint(tablets){
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 0;
        }

      }


    }
  }

}

table.list{

  width:100%;
  p,h5{margin-bottom: 0 !important;}
  tbody {

    tr {

      display: block;

      @include breakpoint(retina){
        display: table-row;
      }

      @include breakpoint(desktop){
        display: table-row;
      }

      @include breakpoint(tablets){
        display: table-row;
      }

      td{


        vertical-align: middle;
        background: white;
        line-height: 1.4;



        ul li{
          text-align: center;
        }

        @include breakpoint(retina){
          display: table-cell;
          min-width: 190px !important;
        }
        @include breakpoint(desktop){
          display: table-cell;
          min-width: 155px;
        }
        @include breakpoint(tablets){
          display: table-cell;
          min-width: 155px;
        }
        @include breakpoint(mobile){
          display: block;

        }
        @include breakpoint(default){
          display: block;

        }

        ul{

          li{
            line-height: 1.5;
          }
        }

        &:first-child{

          font-size: 1em;
          letter-spacing: 0.03em;
          color: #333;
          padding-left: 15px;
          padding-right: 15px;
          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }
          
          p{
            padding: 0 !important;
          }

        }

        h5{
          text-align: center;


          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }
        }
        p{
          text-align: center;
          padding: 20px;
          @include breakpoint(retina){
            text-align: left;
          }
          @include breakpoint(desktop){
            text-align: left;
          }
          @include breakpoint(tablets){
            text-align: left;
          }
        }

        
      }

      &.sub-head{
        td{
          background: #111;
          color: #e8e8e8;
          padding: 20px;
          border: 0;
          text-align: center;
          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }

          &:nth-child(2) {
            display: none;
            @include breakpoint(retina){
              display: block;
            }
            @include breakpoint(desktop){
              display: block;
            }
            @include breakpoint(tablets){
              display: block;
            }
          }


        }
      }
    }
  }
  tr td:first-child{


    background: #e8e8e8;
    vertical-align: middle;
    font-family: Trade Gothic LT W01 Bold No-_2;
  }

}

.specification-table-wrapper{
  background: #f2f2f2;
  -webkit-box-shadow: 1px 3px 10px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 10px -6px rgba(0, 0, 0, 0.5);
}

table.specification-table{
  width:100%;
  p,h5{margin-bottom: 0 !important;}
  tbody {

    tr {

      display: block;

      @include breakpoint(retina){
        display: table-row;
      }

      @include breakpoint(desktop){
        display: table-row;
      }

      td{

        display: block;
        text-align: center;
        vertical-align: middle;
        background: white;
        line-height: 1.4;
        padding: 10px 20px;

        &.noPad{
          padding: 0 !important;
        }


        .button.solid{
          margin-bottom: 0 !important;
        }

        ul li{
          text-align: center;
        }

        @include breakpoint(retina){
          text-align: left !important;
          display: table-cell;
          ul li{
            text-align: left;
          }
        }
        @include breakpoint(desktop){
          text-align: left !important;
          display: table-cell;
          ul li{
            text-align: left;
          }
        }

        ul{
          padding-top: 10px;
          padding-bottom: 10px;
          li{
            line-height: 1.5;
          }
        }

        &:first-child{
          font-size: 1em !important;
          color: #333;
          text-transform: uppercase;
          padding: 15px !important;
        }

        p{
          text-align: center;
          padding: 10px;

        }

      }

      &.sub-head{
        td{
          background: #111;
          color: #e8e8e8;
          padding:15px;
          border: 0;

          width: 100%;
          @include breakpoint(retina){
            width: 350px;
          }
          @include breakpoint(desktop){
            width: 280px;
          }

        }
      }
    }
  }
  tr td:first-child{
    background: #e8e8e8;
    vertical-align: middle;
    font-family: Trade Gothic LT W01 Bold No-_2;

    @include breakpoint(retina){
      max-width: 180px;
    }

    @include breakpoint(desktop){
      max-width: 180px;
    }

  }
  tr:hover{
    @include breakpoint(retina){
      background: #e8eaec;
    }

    @include breakpoint(desktop){
      background: #e8eaec;
    }
  }
}