.padded-section{
  background: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

section.full-height,
.section.full-height{

  @include respond(full) {
    height: 100%;
  }

  @include respond(desktop) {
    height: 100%;
  }

  @include respond(tablets) {
    padding-top:80px;
    padding-bottom: 80px;
  }

  @include respond(mobile) {
    padding-top:60px;
    padding-bottom: 60px;
  }

  &.overflow{
    @media only screen
    and (orientation: landscape) {
      padding-top:60px;
      padding-bottom: 60px;
      height: auto !important;
    }
  }


  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}


@mixin vert-center(){
  top:50%;
  -webkit-transform: translateZ(0) scale(1.0, 1.0) translateY(-52%);
  -ms-transform: translateZ(0) scale(1.0, 1.0) translateY(-52%);
  transform: translateZ(0) scale(1.0, 1.0) translateY(-52%);

  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}


.vert-center-block{

  @include respond(full) {
    @include vert-center();
  }

  @include respond(desktop) {
    @include vert-center();
  }

  text-align: center;
  position: relative;
}

