@import '../../Settings/breakpoints';
@import '../../Mixins/respond';
@import '../../Mixins/css3';
@import '../../Partials/helpers';
@import '../../Partials/typography';

.card{
    overflow: hidden;
}

.deck{

  &.wrap{
    padding-left: 20px;
    padding-right: 20px;
  }

  &.events{
    .card{

      &.caption:after{
        content: attr(data-caption);
        background: linear-gradient(120deg, rgba(0,0,0,0.5), transparent);
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 20px;
        font-size: 1em;
        font-family: "franklin-gothic-urw", sans-serif;
        font-weight: 700;
        color: white;
      }

      .content{
        text-align: left !important;
        padding-top: 0 !important;
        padding-bottom: 20px !important;
      }

      h2{
        width: 100%; margin-left: 0;
        padding: 0;
      }
      h3{
        text-transform: uppercase;
        padding: 0;
        padding-top: 10px !important;
      }

      h4{
        @extend %heading6;
        text-align: left !important;
        text-transform: uppercase;
        padding-top: 10px !important;
        height: 50px;
        @include respond(tablets){
          height:auto !important;
        }
      }

      p{
        padding:0 !important;
        padding-top: 10px !important;

        @include respond(full){
          min-height: 80px;
        }
        @include respond(desktop){
          min-height: 80px;
        }

      }

      a.button{

        &.solid{
          margin-left: 5px !important;
          @include respond(tablets){
            margin-left: 0 !important;
          }
          @include respond(mobile){
            margin-left: 0 !important;
          }
        }




      }

    }
  }


  &.series{

    //landscape view;
    .col-4{
      @include respond(tablets){
        width: 100% !important;
      }
      figure{
        @include respond(tablets){
          width: 320px;
          float: left;
          margin-right: 20px;
          margin-bottom: 0 !important;
        }
      }
      hr{
        @include respond(tablets){
          display: none;
        }
      }
      .content{
        @include respond(tablets){
          padding: 0 !important;
        }
        .button{
          @include respond(tablets){
            position: absolute;
            top:10px;
            right:10px;
          }
        }
      }
    }

    .card{

      @include respond(tablets){
        margin: 10px 0 !important;
      }

      &:hover{
        box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
      }

      .series-header{
        @include respond(full){
          height:100px;
        }
        @include respond(desktop){
          height:100px;
        }

        height: auto;
      }

      h2{
        color: #000 !important;
        padding-top:10px;
      }

      h3{
        color: #444 !important;
        padding-bottom: 10px;
      }

      .des{

        @include respond(full){
          height: 130px;
          margin-top: 0 !important;
        }
        @include respond(desktop){
          height: 130px;
          margin-top: 0 !important;
        }
        height: auto;

      }



      @include respond(mobile){
        max-width: 380px;
        margin: 20px auto;
      }

      .description{
        @include respond(full){
          height: 160px;
        }
        @include respond(desktop){
          height: 160px;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        margin-top: 10px;
        height:auto;
      }
    }
  }

  &.products{

    .AccessorySlider{
      .card p{
        @include respond(full){
          font-size: 15px;
        }
        @include respond(desktop){
          font-size: 14px;
        }

        @include respond(tablets){
          font-size: 13px;
        }
        font-size: 13px;
      }
    }

    .card{

      figure{
        padding-top: 10px;
        max-width: 360px;
        margin: 0 auto;

        @include respond(tablets){
          @include scale("0.9");
        }

        @include respond(mobile){
          @include scale("0.85");
        }
      }
    }
  }

  &.light{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, white);
          }
        }
      }
    }

  }

  &.dark{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, black);
            bottom: 2px !important;
          }
        }
      }
    }

  }

  position: relative;



  .card{
    @extend %module;
    padding: 0;
    box-shadow: 1px 2px 10px -6px rgba(0,0,0,0.3);
    position: relative;
    border: 1px solid #e8e8e8;

    .email,.territories{
      font-size: 0.8em;
      font-weight: 500;
      padding-bottom: 10px;
      padding-top: 5px;
    }
    .contact{
      @extend %button-tiny;

      margin-left: 20px;
      border: 1px solid #ccc;
      margin-bottom:20px;
    }

    @include respond(tablets){
      margin: 0 2px;
    }

    @include respond(mobile){
      margin: 0 auto 5px;
    }

    &:hover{
      box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
    }

    figure{
      position: relative;
      img{
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
        display: block;
        margin-bottom: -1px;
      }
      figcaption{
        display: none;
      }
      &:after {
        content: attr(data-caption);
        display: block;
        background: transparent;
        bottom: -20px;
        color: black;
        left: 0;
        position: absolute;
        right: 0;
        font-size: 80%;
        @include respond(tablets){
          font-size: 100%;
        }
        @include respond(mobile){
          font-size: 100%;
        }
      }
    }

    h2{
      @extend %heading3;

      padding: 0px 0px 5px 20px;

      @include respond(desktop){
        padding: 0px 0px 5px 20px;
      }

      @include respond(tablets){
        font-size: 1.6em;
      }

      @include respond(mobile){
        margin-bottom: 0;
      }
    }

    h3{
      @extend %heading5;
      text-transform: uppercase;
      padding-top: 10px;
      padding-left: 20px;


    }

    p{

      @extend %flushbottom;

      @include respond(full){
        padding: 0 20px;
      }

      @include respond(desktop){
        padding: 0 20px;
      }

      @include respond(tablets){
        padding: 0 20px;
      }

      padding: 10px 20px;
      font-size: 1em;


      &.lead{

        line-height: 1em;

        text-transform: uppercase;

        letter-spacing: 1px;
        color: #000;
        padding: 10px 0px 0px 20px;

        + p{
          padding-top: 10px;
          margin: 0 auto;
        }


        @include respond(mobile){
          padding-top: 5px;
        }
      }
    }

    .description{
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 125px;

      @include respond(tablets){
        min-height: 150px !important;
      }

      @include respond(mobile){
        min-height: 0 !important;
        padding-bottom: 10px;
      }

    }


    .content{
      padding: 20px 18px 8px 18px !important;

      &::after {
        background: transparent;
        clear: both;
        content: "";
        display: block;
        height: 1px;
      }

      .button{
        @extend %button-small;
        border: 1px solid #ccc;
        &:hover{
          border: 1px solid #000;
        }
      }
    }


    @include respond(mobile){
      margin: 0 auto;
    }

  }

  .row{
    .col-3{
      @include respond(tablets){
        width:50%;
      }
    }
  }

}

.series-card{



  hr{
    margin: 15px 0 auto !important;
  }



  @include transition("all","180ms","ease");

  &:hover{
    -webkit-box-shadow: 0 0 22px 1px rgba(0,0,0,0.4) !important;
    box-shadow: 0 0 22px 1px rgba(0,0,0,0.4) !important;
    border-color: rgba(0,0,0,0.3) !important;

    figure img{
      filter: saturate(150%);
      -webkit-filter: saturate(150%);
      -moz-filter: saturate(150%);
      -o-filter: saturate(150%);
      -ms-filter: saturate(150%);
    }

  }

}
