@import '../../Settings/breakpoints';
@import '../../Mixins/respond';
@import '../../Mixins/css3';
@import '../../Partials/helpers';
@import '../../Partials/typography';

.deck{

  .col-4{
    @include breakpoint(default) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .push-1,
  .push-2,
  .push-3,
  .push-4,
  .push-5,
  .push-6,
  .push-7,
  .push-8{
    @include breakpoint(default) {
      margin:0;
    }
    @include breakpoint(mobile) {
      margin:0;
    }
  }




  &.events{
    .card{

      &.caption:after{
        content: attr(data-caption);
        background: rgba(36,36,36,0.6);
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
        font-size: 1em;

        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
      }

      .content{
        text-align: left !important;
        padding-top: 0 !important;
        padding-bottom: 20px !important;
      }

      h2{
        width: 100%; margin-left: 0;
        padding: 0;
      }
      h3{
        text-transform: uppercase;
        padding: 0;
        padding-top: 10px !important;
      }

      h4{
        @extend %heading6;
        text-align: left !important;
        text-transform: uppercase;
        height: 50px;
        color: #2d333a;
        line-height: 1.1;

        @include respond(tablets){
          height:auto !important;
        }
      }

      p{
        padding:0 !important;
        padding-top: 10px !important;

        @include respond(desktop){
          min-height: 85px;
        }
        @include respond(full){
          min-height: 85px;
        }
        @include respond(tablets){
          padding-right:20px !important;
        }
      }

      a.button{

        &.solid{
          margin-left: 5px !important;
          @include respond(tablets){
            margin-left: 0 !important;
          }
          @include respond(mobile){
            margin-left: 0 !important;
          }
        }




      }

    }
  }

  &.series{

    //landscape view;
    .col-4{
      @include respond(tablets){
        width: 100% !important;
      }
      figure{
        @include respond(tablets){
          width: 340px;
          float: left;
          margin-right: 20px;
          margin-bottom: 0 !important;
        }
      }
      hr{
        @include respond(tablets){
          display: none;
        }
      }
      .content{
        @include respond(tablets){
          padding: 0 !important;
        }
        .button{
          @include respond(tablets){
            position: absolute;
            top:10px;
            right:10px;
          }
        }
      }
    }

    .card{

      @include respond(tablets){
        margin: 10px 0 !important;
      }

      &:hover{
        box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
      }

      .series-header{
        @include respond(full){
          height:90px;
        }
        @include respond(desktop){
          height:80px;
        }

        height: auto;
      }

      h2{
        color: #000 !important;
        padding-top:10px;
      }

      h3{
        color: #2c3238 !important;
        padding-bottom: 10px;
        line-height: 1.1;
      }

      .des{

        @include respond(full){
          height: 135px;
          margin-top: 0 !important;
        }

        height: auto;

        .rel-full-height{


          .vert-center-block{
            @include respond(desktop){
                transform: translateZ(0) scale(1,1) translateY(0);
                -webkit-transform:translateZ(0) scale(1,1) translateY(0);
                top:0;
              padding-top: 10px;
              min-height: 140px;
            }

          }

        }

      }

      .description{
        @include respond(full){
          height: 160px;
        }
        @include respond(desktop){
          height: 160px;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        margin-top: 10px;
        height:auto;
      }
    }
  }

  &.products{

    .AccessorySlider{
      .card p{
        @include respond(full){
          font-size: 15px;
        }
        @include respond(desktop){
          font-size: 14px;
        }

        @include respond(tablets){
          font-size: 13px;
        }
        font-size: 13px;
      }
    }

    .card{
      figure{
        padding-top: 10px;
        margin: 0 auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 20px;

      }

      p{
        &.lead{

          + p{
            line-height: 1.1;
            height: 50px;
          }
        }
      }

      .content {
        padding: 5px 18px 8px 18px !important;
      }
    }
  }

  &.light{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, white);
          }
        }
      }
    }

  }

  &.dark{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, black);
            bottom: 2px !important;
          }
        }
      }
    }

  }

  position: relative;

  .card{

    margin-bottom: 20px;

    @extend %module;
    padding: 0;
    box-shadow: 1px 2px 10px -6px rgba(0,0,0,0.3);
    position: relative;
    border: 1px solid #e8e8e8;

    .email,.territories{
      font-size: 0.8em;
      font-weight: 500;
      padding-bottom: 10px;
      padding-top: 5px;
    }
    .contact{
      @extend %button-tiny;

      margin-left: 20px;
      border: 1px solid #ccc;
      margin-bottom:20px;
    }

    &:hover{
      box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
    }

    figure{
      position: relative;
      img{

        width: auto;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        line-height: 1;
        display: block;

      }
      figcaption{
        display: none;
      }
      &:after {
        content: attr(data-caption);
        display: block;
        background: transparent;
        bottom: -20px;
        color: black;
        left: 0;
        position: absolute;
        right: 0;
        font-size: 80%;
      }
    }

    h2{
      @extend %heading3;

      padding: 0px 0px 5px 20px;

      @include respond(desktop){
        padding: 0px 0px 5px 20px;
      }

      @include respond(tablets){
        font-size: 1.6em;
      }

      @include respond(mobile){
        margin-bottom: 0;
      }
    }

    h3{
      @extend %heading5;
      text-transform: uppercase;
      padding-left: 20px;
    }

    hr{
      max-width: 100% !important;
    }

    p{

      @extend %flushbottom;

      @include respond(full){
        padding: 0 20px;
      }

      @include respond(desktop){
        padding: 0 20px;
      }

      @include respond(tablets){
        padding: 0 20px;
      }

      padding: 5px 20px;
      font-size: 1em;


      &.lead{

        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #2c3238;

        + p{
          padding-top: 10px;
          margin: 0 auto;
        }
      }
    }

    .description{
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 125px;

      @include respond(tablets){
        min-height: 150px !important;
      }

      @include respond(mobile){
        min-height: 0 !important;
        padding-bottom: 10px;
      }

    }


    .content{
      padding: 15px 18px 10px 18px !important;

      &::after {
        background: transparent;
        clear: both;
        content: "";
        display: block;
        height: 1px;
      }

      .button{
        @extend %button-small;
        border: 1px solid #ccc;
        &:hover{
          border: 1px solid #000;
        }
      }
    }



  }

  .row{
    .col-3{
      @include respond(tablets){
        width:50%;
      }
    }
  }

}

.series-card{
  hr{
    margin: 15px 0 auto !important;
  }

  @include transition("all","180ms","ease");

  &:hover{
    -webkit-box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    border-color: rgba(60,60,60,0.1) !important;

    figure img{
      filter: saturate(150%);
      -webkit-filter: saturate(150%);
      -moz-filter: saturate(150%);
      -o-filter: saturate(150%);
      -ms-filter: saturate(150%);
    }

  }

}
