@import '../../Settings/breakpoints';
@import '../../Mixins/respond';
@import '../../Mixins/css3';
@import '../../Partials/helpers';
@import '../../Partials/typography';

.card{
    overflow: hidden;
}

.deck{

  &.wrap{
    padding-left: 20px;
    padding-right: 20px;
  }

  &.events{
    .card{

      &.caption:after{
        content: attr(data-caption);
        background: linear-gradient(120deg, rgba(0,0,0,0.5), transparent);
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 20px;
        font-size: 1em;
        font-family: "franklin-gothic-urw", sans-serif;
        font-weight: 700;
        color: white;
      }

      .content{
        text-align: left !important;
        padding-top: 0 !important;
        padding-bottom: 20px !important;
      }

      h2{
        text-align: left; width: 100%; margin-left: 0;
      }
      h3{
        text-transform: uppercase;
        text-align: left;
        margin-right: -10px;
      }
      h4{
        @extend %heading6;
        text-align: left !important;
        text-transform: uppercase;
        padding-top: 10px !important;
      }
      p{

        strong{
          font-family: franklin-gothic-urw,sans-serif;
          font-size: 1.1em;
          text-transform: uppercase;
          line-height: 1 !important;
          display: block;
          margin-bottom: -10px;
        }

        text-align: left !important; padding:0 !important;padding-top: 10px !important; height: 156px;


        @include respond(mobile){
          height:auto !important;
        }

      }

      a.button{

        &.solid{
          margin-left: 5px !important;
          @include respond(tablets){
            margin-left: 0 !important;
          }
          @include respond(mobile){
            margin-left: 0 !important;
          }
        }

        @include respond(tablets){
          width: 100% !important;
          margin-bottom: 10px !important;
        }
        @include respond(mobile){
          width: 100% !important;
          margin-bottom: 10px !important;
        }


      }

    }
  }


  &.series{
    .card{

      &:hover{
        box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
      }

      .series-header{

        @include respond(full){
          height:100px;
          margin: 0 auto;
          width: 120%;
          margin-left: -10%;
        }
        @include respond(desktop){
          height:100px;
          margin: 0 auto;
          width: 120%;
          margin-left: -10%;
        }

        @include respond(tablets){
          height:100px;
          margin: 0 auto;
          width: 120%;
          margin-left: -10%;
        }

        height: auto;


      }

      .des{

        @include respond(full){
          height: 150px;
          margin-top: 0 !important;
        }
        @include respond(desktop){
          height: 150px;
          margin-top: 0 !important;
        }

        @include respond(tablets){
          min-height: 140px;
          padding: 5px;
          font-size: 90%;
          margin-top: 0 !important;
        }

        height: auto;
        margin-top:20px;

      }

      h3{
        @extend %heading6;
        padding-top: 10px;

        @include respond(full){
          padding-top: 20px;
        }
        @include respond(desktop){
          padding-top: 20px;
        }

        @include respond(tablets){
          padding-top: 20px;
          font-size: 1em !important;
        }
      }

      @include respond(mobile){
        max-width: 380px;
      }

      .description{
        @include respond(full){
          height: 160px;
        }
        @include respond(desktop){
          height: 160px;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        margin-top: 10px;
        height:auto;
      }
    }
  }

  &.products{

    .AccessorySlider{
      .card p{
        @include respond(full){
          font-size: 15px;
        }
        @include respond(desktop){
          font-size: 14px;
        }

        @include respond(tablets){
          font-size: 13px;
        }
        font-size: 13px;
      }
    }

    .card{

      figure{
        padding-top: 10px;
        max-width: 360px;
        margin: 0 auto;

        @include respond(tablets){
          @include scale("0.9");
        }

        @include respond(mobile){
          @include scale("0.85");
        }
      }
    }
  }

  &.light{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, white);
          }
        }
      }
    }

  }

  &.dark{
    .card{
      &:hover{
        figure {
          &:after {
            background: linear-gradient(transparent 60%, black);
            bottom: 2px !important;
          }
        }
      }
    }

  }

  position: relative;

  .card{
    box-shadow: 1px 2px 10px -6px rgba(0,0,0,0.3);
    position: relative;
    border: 1px solid #e8e8e8;

    .email,.territories{
      font-size: 0.8em;
      font-weight: 500;
      padding-bottom: 10px;
    }

    .contact{
      @extend %button-tiny;
      margin-bottom: 20px;
    }

    @extend %module;
    @extend %text-center;

    padding: 0;

    @include respond(tablets){
      margin: 0 2px !important;
    }

    @include respond(mobile){
      margin: 0 auto 5px !important;
    }

    &:hover{
      box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
    }

    figure{
      position: relative;

      img{
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      figcaption{
        display: none;
      }
      &:after {
        content: attr(data-caption);
        display: block;
        background: transparent;
        bottom: -20px;
        color: black;
        left: 0;
        position: absolute;
        right: 0;
        font-size: 80%;
        @include respond(tablets){
          font-size: 100%;
        }
        @include respond(mobile){
          font-size: 100%;
        }
      }
    }

    h2{
      @extend %heading4;
      @extend %text-center;
      padding-top: 10px;
      margin-bottom: -10px;
      width: 120%;
      margin-left: -10%;

      @include respond(tablets){
        font-size: 1.6em;
      }

      @include respond(mobile){
        margin-bottom: 0;
      }

    }

    p{
      @extend %text-center;
      @extend %flushbottom;

      @include respond(full){
        padding: 0 10px;
      }

      @include respond(desktop){
        padding: 0 10px;
      }

      @include respond(tablets){
        padding: 0 20px;
      }

      padding: 10px 20px;
      font-size: 1em;


      &.lead{
        padding-top: 20px;
        line-height: 1em;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: 90%;
        letter-spacing: 1px;
        color: #000;

        + p{
          padding-top: 10px;
          max-width: 380px;
          margin: 0 auto;
        }

        @include respond(tablets){
          line-height: 1em;
          padding: 15px 10px 5px;
        }
        @include respond(mobile){
          padding-top: 5px;
        }
      }
    }

    .description{
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 125px;

      @include respond(tablets){
        min-height: 150px !important;
      }

      @include respond(mobile){
        min-height: 0 !important;
        padding-bottom: 10px;
      }

    }


    .content{
      padding: 20px 20px 5px 20px !important;

      &::after {
        background: transparent;
        clear: both;
        content: "";
        display: block;
        height: 1px;
      }

      button, .button{
        @extend %button-small;
      }
    }


    @include respond(mobile){
      margin: 0 auto;
    }

  }

  .row{
    .col-3{
      @include respond(tablets){
        width:50%;
      }
    }
  }

}

.series-card{

  .button{
    @extend %button-small;
    @extend %button-block;
    margin-bottom:20px;
  }

  hr{
    @include respond(full){
      margin: 10px 0 auto !important;
    }

    @include respond(desktops){
      margin: 10px 0 0 !important;
    }
    @include respond(tablets){
      margin: 0 0 10px 0 !important;
    }
    @include respond(mobile){
      margin: 20px 0 auto !important;
    }
  }

  .des p{
    @include respond(mobile){
      max-width: 320px;
      margin: 0 auto;
    }
  }

  @include transition("all","180ms","ease");

  &:hover{
    -webkit-box-shadow: 0 0 22px 1px rgba(0,0,0,0.4) !important;
    box-shadow: 0 0 22px 1px rgba(0,0,0,0.4) !important;
    border-color: rgba(0,0,0,0.3) !important;

    figure img{
      filter: saturate(150%);
      -webkit-filter: saturate(150%);
      -moz-filter: saturate(150%);
      -o-filter: saturate(150%);
      -ms-filter: saturate(150%);
    }

  }

}
