@import '../../Settings/breakpoints';
@import '../../Mixins/respond';
@import '../../Mixins/css3';
@import '../../Partials/helpers';
@import '../../Partials/typography';
@import "../../Partials/buttons";

.deck .card hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

.deck{

  .col-4{
    @include breakpoint(default) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .push-1,
  .push-2,
  .push-3,
  .push-4,
  .push-5,
  .push-6,
  .push-7,
  .push-8{
    @include breakpoint(default) {
      margin:0;
    }
    @include breakpoint(mobile) {
      margin:0;
    }
  }

  &.events{
    .card{

      .content{
        text-align: left !important;
        padding-top: 0 !important;
        padding-bottom: 20px !important;
      }

      img{
        display: block;
        width: 100%;
      }

      h2{
        width: 100%;
        margin-left: 0;
        padding: 1rem 0 0;
      }

      h3{
        padding: 0;
        padding-top: 10px !important;
      }

      h4{
        @extend %heading6;
        text-align: left !important;
        color: #2d333a;

        @include breakpoint(desktop){
          height: 50px;
        }
        @include breakpoint(retina){
          height: 50px;
        }

      }



      p{
        padding:0 !important;
        padding-top: 10px !important;
        padding-right: 10px !important;

        @include breakpoint(retina){
          min-height: 85px;
        }

        @include breakpoint(desktop){
          min-height: 90px;
          line-height: 1.2;
        }

        @include breakpoint(tablets){
          padding-right:20px !important;
        }
      }

      a.button{

        &.solid{

          margin-left: 0 !important;

          @include breakpoint(desktop){
            margin-left: 5px !important;
          }
          @include breakpoint(retina){
            margin-left: 5px !important;
          }
        }




      }

    }
  }


  &.series,&.events{



    figure {
      position: relative;
      img {
        max-width: 100% !important;
      }
    }

    //landscape view;
    .col-4{
      @include breakpoint(tablets){
        width: 100% !important;
      }
      figure{
        @include breakpoint(tablets){
          width: 350px;
          float: left;
          margin-right: 20px;
          margin-bottom: -1px;
          min-height: 280px;
          background: #e8e8e8;
        }
      }
      hr{
        @include breakpoint(tablets){
          display: none;
        }
      }
      .des{
        p{
          @include breakpoint(retina){
            min-height: 100px;
          }
          @include breakpoint(desktop){
            min-height: 120px;
          }
          padding-top:20px;
        }
      }
      .content{
        @include breakpoint(tablets){
          padding: 0 !important;
        }
        .button{
          @include breakpoint(tablets){
            position: absolute;
            left: 0;
            padding: 12px 20px;
            display: block;
            width: 350px;
            background: black;
            color: white;
            border: 0;
            bottom:-5px;
          }
        }
      }
    }
  }

  &.series{

    .card{

      img{
        width: 100%;
      }

      &:hover{
        box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
      }

      h2{
        color: #000 !important;
        padding-top: 1rem;
        @include breakpoint(desktop){
          font-size: 1.8rem;
        }
      }

      h3{

        @include breakpoint(retina){
          min-height: 40px;
          padding-right: 35%;
        }

        @include breakpoint(desktop){
          min-height: 40px;
        }

        padding-right: 20px;
        color: #2c3238 !important;
        line-height: 1;
      }

      .description{
        margin-top: 10px;
        height:auto;
      }
    }
  }

  &.contacts{
    .card{
      background: #fff;

      @include breakpoint(default){
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile){
        max-width: 420px;
        margin: 0px auto;
        transform: scale(0.95);
      }

      p.lead{
        padding-top: 20px;
      }

      .button {
        margin-left: 20px !important;
      }
    }
  }

  &.products{

    .AccessorySlider{
      .card p{
        font-size: 13px;
      }
    }

    .card{
      figure{
        padding-top: 0;
        margin: 0 auto;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 10px;
      }

      border: 1px solid #e8e8e8;

      p{
        &.lead{
          + p{
            line-height: 1.1;
            padding-bottom: 10px;
          }
        }
      }

      .content {
        padding: 5px 18px 8px 18px !important;
      }
    }
  }

  position: relative;

  .card{

    @extend %module;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 1px 2px 10px -6px rgba(0,0,0,0.3);
    position: relative;

    background: #fff;

    .email,.territories{
      font-size: 0.8em;
      font-weight: 500;
      padding-bottom: 10px;
      padding-top: 5px;
    }

    .territories {
      background: #f2f2f2;
      padding-top: 10px;
      height: 140px;
    }

    .contact{
      @extend %button-tiny;
      margin-left: 20px;
      border: 1px solid #ccc;
      margin-bottom:20px;
    }

    &:hover{
      box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
    }

    figure{
      position: relative;

      a{
        display: block;
      }

      img{
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        line-height: 1;
        display: block;

      }
      figcaption{
        display: none;
      }
    }

    h2{
      @extend %heading3;
      padding: 0px 0px 5px 20px;
      margin-bottom: 0;
    }

    h3{
      padding-left: 20px;
    }

    h3,h4{
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 1em !important;
      line-height: 1.2 !important;
    }

    hr{
      max-width: 100% !important;
    }

    p{

      @extend %flushbottom;
      padding: 0 20px;
      font-size: 1em;
      line-height: 1.4;

      &.lead{

        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #2c3238;
        + p{
          padding-top: 10px;
          margin: 0 auto;
        }
      }
    }

    .description{
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 125px;
    }


    .content{
      padding: 15px 18px 10px 18px !important;

      &::after {
        background: transparent;
        clear: both;
        content: "";
        display: block;
        height: 1px;
      }

      .button{
        @extend %button-small;
        border: 1px solid #ccc;
        &:hover{
          border: 1px solid #000;
        }
      }
    }

  }
}

.series-card{
  hr{
    margin: 10px 0 auto !important;
  }

  @include transition("all","180ms","ease");

  &:hover{
    -webkit-box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    border-color: rgba(60,60,60,0.1) !important;

    figure img{
      filter: saturate(150%);
      -webkit-filter: saturate(150%);
      -moz-filter: saturate(150%);
      -o-filter: saturate(150%);
      -ms-filter: saturate(150%);
    }
  }
}

.content .deck.products {
  margin-left: -10px;
  margin-right: -10px;
}