@import '../../Settings/breakpoints';
@import '../../Mixins/respond';
@import '../../Mixins/css3';
@import '../../Partials/helpers';
@import '../../Partials/typography';
@import "../../Partials/buttons";


.deck{

  .col-4{
    @include breakpoint(default) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .push-1,
  .push-2,
  .push-3,
  .push-4,
  .push-5,
  .push-6,
  .push-7,
  .push-8{
    @include breakpoint(default) {
      margin:0;
    }
    @include breakpoint(mobile) {
      margin:0;
    }
  }

  &.events{
    .card{

      h4{
        @extend %heading6;
        text-align: left !important;
        color: #2d333a;

        @include breakpoint(desktop){
          height: 50px;
        }
        @include breakpoint(retina){
          height: 50px;
        }
      }

    }
  }


  &.series,
  &.events{

    figure {
      position: relative;
      img {
        max-width: 100% !important;
      }
    }

    .series-header{
      h3{
        @include breakpoint(retina){
          height: 50px;
          max-width: 260px;
        }
        @include breakpoint(desktop){
          height: 50px;
          max-width: 240px;
        }
        margin-bottom: 10px;
      }
      padding-top: 10px;
    }

    //landscape view;
    .col-4{
      @include breakpoint(tablets){
        width: 100% !important;
      }
      figure{
        @include breakpoint(tablets){
          width: 350px;
          float: left;
          margin-right: 20px;
          min-height: 280px;
          background: #e8e8e8;
        }
      }
      hr{
        @include breakpoint(tablets){
          display: none;
        }
      }

      .des{
        p{
          @include breakpoint(retina){
            min-height: 100px;
          }
          @include breakpoint(desktop){
            min-height: 120px;
          }

        }
      }

      .content{

        padding-top: 10px;

        .button{
          @include breakpoint(tablets){
            position: absolute;
            left: 0;
            padding: 15px 20px;
            display: block;
            width: 350px;
            background: black;
            color: white;
            border: 0;
            bottom: -10px;
            border-top: 1px solid #444;
          }
        }
      }
    }
  }

  &.series{

    .card{

      &:hover{
        box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
      }

      h2{
        color: #000 !important;

        @include breakpoint(desktop){
          font-size: 1.8rem;
        }
      }

      h3{
        color: #2c3238 !important;

      }
    }
  }

  &.contacts{
    .card{
      background: #fff;

      @include breakpoint(default){
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile){
        max-width: 420px;
        margin: 0 auto;
        transform: scale(0.95);
      }

      .button {

        @include breakpoint(retina){
          margin-left: 20px;
        }
        margin: 0 0 10px 10px;
        padding: 10px 20px;
      }
    }
  }

  &.products{

    .AccessorySlider{
      .card{

        p{
          font-size: 13px;
        }
        p.lead{
          font-size: 1em;
          margin-top: 10px;
        }
      }
    }

    .card{
      figure{
        border-bottom: 1px solid #e8e8e8;
        margin: 0 auto;
      }
      border: 1px solid #e8e8e8;

      @include breakpoint(tablets){
        max-width: 380px;
        margin: 5px auto;
      }
      @include breakpoint(mobile){
        max-width: 380px;
        margin: 5px auto;
      }
      @include breakpoint(default){
        max-width: 380px;
        margin: 5px auto;
      }

    }
  }

  position: relative;

  .card{

    hr {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    @extend %module;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    box-shadow: 1px 2px 10px -6px rgba(0,0,0,0.3);

    .email,.territories{
      font-size: 0.8em;
      font-weight: 500;
    }

    .territories {
      background: #f2f2f2;
      height: 140px;
      padding-top: 10px;
    }

    .contact{
      @extend %button-tiny;
      border: 1px solid #ccc;
      margin: 0;
    }

    &:hover{
      box-shadow: 0 1px 17px -8px rgba(0, 0, 0, 0.7);
    }

    figure{
      position: relative;

      a{
        display: block;
      }

      img{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }

      figcaption{
        display: none;
      }
    }

    h2{
      @extend %heading3;
      margin-bottom: 0;
    }



    h3,h4{
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 1em !important;
      line-height: 1.2 !important;
    }

    hr{
      max-width: 100% !important;
    }

    p{
      font-size: 1em;
      line-height: 1.4;
      margin-bottom: 10px;

      &.lead{
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #2c3238;
        padding-top: 5px;
      }
    }

    .content{
      &::after {
        background: transparent;
        clear: both;
        content: "";
        display: block;
        height: 1px;
      }
    }

    .button{
      @extend %button-small;
      border: 1px solid #ccc;
      margin-bottom: 20px !important;

      &:hover{
        border: 1px solid #000;
      }
    }
  }
}

.series-card{
  hr{
    margin: 10px 0 auto !important;
  }

  @include transition("all","180ms","ease");

  &:hover{
    -webkit-box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    box-shadow: 0 0 30px 1px rgba(60,60,60,.3)!important;
    border-color: rgba(60,60,60,0.1) !important;

    figure img{
      filter: saturate(150%);
      -webkit-filter: saturate(150%);
      -moz-filter: saturate(150%);
      -o-filter: saturate(150%);
      -ms-filter: saturate(150%);
    }
  }
}

.content .deck.products {
  margin-left: -10px;
  margin-right: -10px;
}



.deck{
  &:hover{
    > .row .card{
      opacity: 0.95;
    }
  }
  .card.series-card{
    &:hover{
      opacity: 1 !important;
      .secondaryImage{
        opacity: 0;
      }
      .button.black{
        background: black !important;
        color: white !important;
      }
    }
  }

  .secondaryImage{
    position: absolute;
    top: 0;
    &:hover{
      cursor: pointer;
    }
  }
}


//tmep
.deck .card figure{
  padding: 0 !important;
  overflow: hidden;
}

.deck .card > *{
  @include breakpoint(retina){
    padding-right: 20px;
    padding-left: 20px;
  }

  padding-right: 10px;
  padding-left: 10px;
}

