/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$drop-down-point-name: 'drop-down-point';
$drop-down-point-x: 350px;
$drop-down-point-y: 168px;
$drop-down-point-offset-x: -350px;
$drop-down-point-offset-y: -168px;
$drop-down-point-width: 30px;
$drop-down-point-height: 30px;
$drop-down-point-total-width: 380px;
$drop-down-point-total-height: 374px;
$drop-down-point-image: '/Assets/img/Sprites/sprite.png';
$drop-down-point: (350px, 168px, -350px, -168px, 30px, 30px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'drop-down-point', );
$ma-black-name: 'ma-black';
$ma-black-x: 300px;
$ma-black-y: 168px;
$ma-black-offset-x: -300px;
$ma-black-offset-y: -168px;
$ma-black-width: 50px;
$ma-black-height: 37px;
$ma-black-total-width: 380px;
$ma-black-total-height: 374px;
$ma-black-image: '/Assets/img/Sprites/sprite.png';
$ma-black: (300px, 168px, -300px, -168px, 50px, 37px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'ma-black', );
$martin-audio-logo-name: 'martin-audio-logo';
$martin-audio-logo-x: 0px;
$martin-audio-logo-y: 290px;
$martin-audio-logo-offset-x: 0px;
$martin-audio-logo-offset-y: -290px;
$martin-audio-logo-width: 83px;
$martin-audio-logo-height: 84px;
$martin-audio-logo-total-width: 380px;
$martin-audio-logo-total-height: 374px;
$martin-audio-logo-image: '/Assets/img/Sprites/sprite.png';
$martin-audio-logo: (0px, 290px, 0px, -290px, 83px, 84px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'martin-audio-logo', );
$martin-audio-unite-your-audience-dark-name: 'martin-audio-unite-your-audience-dark';
$martin-audio-unite-your-audience-dark-x: 0px;
$martin-audio-unite-your-audience-dark-y: 0px;
$martin-audio-unite-your-audience-dark-offset-x: 0px;
$martin-audio-unite-your-audience-dark-offset-y: 0px;
$martin-audio-unite-your-audience-dark-width: 380px;
$martin-audio-unite-your-audience-dark-height: 84px;
$martin-audio-unite-your-audience-dark-total-width: 380px;
$martin-audio-unite-your-audience-dark-total-height: 374px;
$martin-audio-unite-your-audience-dark-image: '/Assets/img/Sprites/sprite.png';
$martin-audio-unite-your-audience-dark: (0px, 0px, 0px, 0px, 380px, 84px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'martin-audio-unite-your-audience-dark', );
$martin-audio-unite-your-audience-small-name: 'martin-audio-unite-your-audience-small';
$martin-audio-unite-your-audience-small-x: 0px;
$martin-audio-unite-your-audience-small-y: 230px;
$martin-audio-unite-your-audience-small-offset-x: 0px;
$martin-audio-unite-your-audience-small-offset-y: -230px;
$martin-audio-unite-your-audience-small-width: 271px;
$martin-audio-unite-your-audience-small-height: 60px;
$martin-audio-unite-your-audience-small-total-width: 380px;
$martin-audio-unite-your-audience-small-total-height: 374px;
$martin-audio-unite-your-audience-small-image: '/Assets/img/Sprites/sprite.png';
$martin-audio-unite-your-audience-small: (0px, 230px, 0px, -230px, 271px, 60px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'martin-audio-unite-your-audience-small', );
$martin-audio-unite-your-audience-name: 'martin-audio-unite-your-audience';
$martin-audio-unite-your-audience-x: 0px;
$martin-audio-unite-your-audience-y: 84px;
$martin-audio-unite-your-audience-offset-x: 0px;
$martin-audio-unite-your-audience-offset-y: -84px;
$martin-audio-unite-your-audience-width: 380px;
$martin-audio-unite-your-audience-height: 84px;
$martin-audio-unite-your-audience-total-width: 380px;
$martin-audio-unite-your-audience-total-height: 374px;
$martin-audio-unite-your-audience-image: '/Assets/img/Sprites/sprite.png';
$martin-audio-unite-your-audience: (0px, 84px, 0px, -84px, 380px, 84px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'martin-audio-unite-your-audience', );
$mouse-scroll-name: 'mouse-scroll';
$mouse-scroll-x: 83px;
$mouse-scroll-y: 290px;
$mouse-scroll-offset-x: -83px;
$mouse-scroll-offset-y: -290px;
$mouse-scroll-width: 32px;
$mouse-scroll-height: 68px;
$mouse-scroll-total-width: 380px;
$mouse-scroll-total-height: 374px;
$mouse-scroll-image: '/Assets/img/Sprites/sprite.png';
$mouse-scroll: (83px, 290px, -83px, -290px, 32px, 68px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'mouse-scroll', );
$unite-your-audience-white-name: 'unite-your-audience-white';
$unite-your-audience-white-x: 0px;
$unite-your-audience-white-y: 168px;
$unite-your-audience-white-offset-x: 0px;
$unite-your-audience-white-offset-y: -168px;
$unite-your-audience-white-width: 300px;
$unite-your-audience-white-height: 62px;
$unite-your-audience-white-total-width: 380px;
$unite-your-audience-white-total-height: 374px;
$unite-your-audience-white-image: '/Assets/img/Sprites/sprite.png';
$unite-your-audience-white: (0px, 168px, 0px, -168px, 300px, 62px, 380px, 374px, '/Assets/img/Sprites/sprite.png', 'unite-your-audience-white', );
$spritesheet-width: 380px;
$spritesheet-height: 374px;
$spritesheet-image: '/Assets/img/Sprites/sprite.png';
$spritesheet-sprites: ($drop-down-point, $ma-black, $martin-audio-logo, $martin-audio-unite-your-audience-dark, $martin-audio-unite-your-audience-small, $martin-audio-unite-your-audience, $mouse-scroll, $unite-your-audience-white, );
$spritesheet: (380px, 374px, '/Assets/img/Sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
